@import 'vars.less';

.secao{
	&.home{
		background:url('../../images/concurso/bg-home.png') @verde_fundo center top no-repeat;
		.banner-principal{
			padding-right:6%;
			img{
				max-width:448px;
				margin:0 auto;
				display:block;
				@media only screen and (min-width: 0px) and (max-width: 767px) {
					width:90%;
				}
				@media only screen and (min-width: 768px){
					width:100%;
				}
			}
		}
		.infografico{
			margin-top:45px;
			padding-right:6%;
			img{
				max-width:448px;
				margin:0 auto;
				display:block;
				@media only screen and (min-width: 0px) and (max-width: 767px) {
					width:90%;
				}
				@media only screen and (min-width: 768px){
					width:100%;
				}
			}
		}
		.chamada-tema{
			padding:25px 0;
			text-align:center;
			h1{
				.suellen(28px);
				color:@verde_escuro;
				span.roxo{ display:block; font-size:42px; }
				span.menor{ display:block; font-size:21px; }
			}
			.header-tema{
				display:block;
				padding:0 10px;
				background-color:@verde_escuro;
				text-align:center;
				height:20px;
				line-height:20px;
				.arredondada(15px);
				margin:40px auto 20px auto;
				width:175px;
				color:@verde_claro;
				.arial(10px, bold);
			}
			.titulo-tema{
				text-align:center;
				color:@roxo;
				.arvo(20px, bold);
			}
			.data-tema{
				text-align:center;
				color:@roxo;
				.arvo(14px, bold);	
			}
			.detalhe-tema{
				@media only screen and (min-width: 768px){
					width:100%;
				}
				@media only screen and (min-width: 0px) and (max-width: 767px) {
					width:80%;
					margin-left:auto;
					margin-right:auto;
				}
				margin-top:3px;
				border:1px @rosa solid;
				padding-top:10px;
				text-align:center;
				color:@roxo;
				.arredondada(25px);
				p{
					padding:0 10px;
					line-height: 130%;
					.arial(16px);
					&.bold{ font-weight: bold; }
				}
				&.sem-botao{
					padding-bottom:20px;
				}
				a{
					height:50px;
					line-height:50px;
					width:100%;
					display:block;
					margin-top:30px;
					background-color:@rosa;
					color:#fff;
					text-align:center;
					.arvo(20px, bold);
					.arredondada(25px);
					.transition;
					&:active, &:visited{color:#fff;}
					&:hover{color:@roxo;}
				}
			}
		}
		.banner-lateral{
			img{
				margin-top:25px;
				max-width:211px;
				width:100%;
				@media only screen and (min-width: 768px){
					float:right;
					margin:25px 0 0 0;
				}
				@media only screen and (min-width: 0px) and (max-width: 767px) {
					margin:25px auto 25px auto;
					display:block;
				}
			}
		}
		@media only screen and (min-width: 768px) and (max-width: 979px) {			
			.pure-u-1-4{
				width:50%;
			}
			.pure-u-1-2{
				width:100%;
			}
		}
	}
	&.participe{
		background:url('../../images/concurso/bg-participe.png') @roxo center top no-repeat;
		header{
			padding-top:30px;
			nav{
				@media only screen and (min-width: 701px){
					margin-top:-30px;
				}
				@media only screen and (min-width: 0px) and (max-width: 700px) {
					margin-top:0;
				}
				min-height:151px;
				ul{
					li{
						a.mn-home{
							padding:0 7px;
							width:202px;
							@media only screen and (min-width: 701px) {
								height:151px;
								margin-bottom:0;
								img{
									display:block;
									max-width:100%;
								}
							}
							@media only screen and (min-width: 0px) and (max-width: 700px) {
								height:auto;
								margin-bottom:6px;
								img{
									display:block;
									max-width:90%;
								}
							}
							background-color:transparent;
							&:hover{
								background-color:transparent;
							}
						}
						a.mn-regulamento,
						a.mn-participe,
						a.mn-premios{
							background-color:@verde_musgo;
							color:@verde_claro;
							@media only screen and (min-width: 701px){
								margin-top:60px;
							}
							@media only screen and (min-width: 0px) and (max-width: 700px) {
								margin-top:0px;
							}
							&:hover, &.ativo{
								color:@roxo;
								background-color:@verde_claro;
							}
						}
					}
				}
			}
		}
		.loader{
			margin:50px auto;
			text-align:center;
		}
		.resposta-inscricao{
			.arvo(18px, bold);
			background-color:@laranja;
			color:#fff;
			padding:20px 10%;
			width:70%;
			margin:30px auto;
			text-align:center;
			.arredondada(30px);
			line-height:150%;
		}
		#inscricoes-fechadas{
			p{
				.arvo(16px);
				color:@laranja;
				text-align:center;
				margin:20px 0;
				.branco{
					color:#fff;
				}
				strong{ font-weight:bold; }
				a{
					color:@verde_claro;
					.transition;
					&:active, &:visited{color:@verde_claro;}
					&:hover{color:@verde_musgo;}
				}
			}
		}
		#inscricao{
			max-width:502px;
			width:100%;
			.container-frase{
				label{
					display:block;
					text-align:center;
					color:@verde_claro;
					.arvo(14px);
				}
				textarea{
					margin:5px auto 0 auto;
					background-color:@verde_claro;
					height:70px;
					padding:5px 7%;
					display:block;
					resize:none;
					overflow:auto;
					width:86%;
					color:@roxo;
					line-height:150%;
					.arvo(15px, bold);
					.arredondada(40px);
				}
				#contador{
					padding:0 7%;
					display:block;
					text-align:right;
					.arvo(11px);
					color:#fff;
				}
				.aviso-tema{
					display:block;
					text-align: right;
					margin:15px 0;
					color:@laranja;
					.arial(12px);
					@media only screen and (min-width: 980px){
						span:after{
							content:"";
							display:inline-block;
							margin:0 20px 0 5px;
							width:26px;
							height:13px;
							background:url('../../images/concurso/seta-laranja.png') center center no-repeat;
						}					
					}
				}
			}
			.titulo-dados{
				color:#fff;
				.suellen(20px);
				margin-bottom: 10px;
			}
			.linha-form{
				margin-bottom: 10px;
				label{
					color:#fff;
					.arvo(14px);
				}
				input{
					background-color: #fff;
					border:0;
					margin:0;
					padding:5px 10px;
					height:20px;
					line-height:20px;
					color:@roxo;
					width:71.71%;
					max-width:360px;
					.arvo(14px, bold);
					.arredondada(15px);
				}
				#abrir-responsavel{
					color:#fff;
					.arial(12px);
					padding-left:10%;
					margin-top:4px;
					a{
						text-decoration:underline;
						color:#fff;
						.transition;
						&:active, &:visited{color:#fff;}
						&:hover{color:@laranja;}
					}
				}
			}
			.regulamento{
				width:96%;
				padding:5px 2%;
				height:125px;
				margin-bottom:10px;
				resize:none;
				overflow:auto;
				background-color:#fff;
				color:@roxo;
				.arial(11px);
				.arredondada(15px);
				p{
					color:@roxo;
					.arial(11px);
					margin-bottom:10px;
				}
				table{
					color:@roxo;
					.arial(11px);
					margin-bottom:10px;
					border-collapse: collapse;
					&,tr,td{ border:1px @roxo solid; }
				}
				ul{
					margin-bottom:10px;
					list-style: inside;
					li{
						color:@roxo;
						.arial(11px);						
					}					
				}
			}
			.responsavel{
				border-top:1px @laranja dotted;
				border-bottom:1px @laranja dotted;
				padding:5px 0;
				margin-bottom:10px;
				.transition;
				p.laranja{
					.arial(11px);
					color:@laranja;
					line-height:120%;
				}
				#input-data{
					width:156px;
				}
				#fechar-responsavel{
					color:@laranja;
					.arial(11px);
					padding-left:20px;
					display:block;
					min-height:16px;
					line-height:16px;
					width:270px;
					margin-top:30px;
					background:url('../../images/concurso/fechar-laranja.png') 3px center no-repeat;
					a{
						display:block;
						color:@laranja;
						.transition;
						&:active, &:visited{color:@laranja;}
						&:hover{color:#fff;}
					}
				}
				&.escondido{
					height:0;
					overflow:hidden;
					margin:0;
					padding:0;
					opacity:0;
				}
			}
			.checkboxes{
				label{
					display:block;
					margin-bottom:2px;
					.arvo(14px);
					color:#fff;
					cursor:pointer;
					input{
						vertical-align:-2px;
						margin-right:7px;
					}
				}
			}
			input[type="submit"]{
				width:150px;
				background-color:@verde_claro;
				color:@roxo;
				text-align: center;
				.arvo(16px, bold);
				.arredondada(15px);
				height:40px;
				line-height:40px;
				border:0;
				display:block;
				margin:20px 0 0 0;
				cursor:pointer;
				.transition;
				&:hover{
					background-color:@laranja;
					color:#fff;
				}
				@media only screen and (min-width: 0px) and (max-width: 767px) {
					margin:20px auto 0 auto;
				}
			}
		}
		h2.participe-premios{
			color:#fff;
			text-align:right;
			.suellen(32px);
			@media only screen and (min-width: 0px) and (max-width: 767px) {
				display:none;
			}
		}
		.tema-do-momento{
			min-height:269px;
			@media only screen and (min-width: 768px){
				background:url('../../images/concurso/premios-participe.png') right 20px no-repeat;			
				text-align:left;
				padding:50px 55% 0 0;
			}
			@media only screen and (min-width: 0px) and (max-width: 767px) {
				background:none;
				text-align:center;
				padding:50px 0 0 0;
			}
			.titulo-tema{
				color:@laranja;
				line-height:120%;
				.arvo(20px, bold);
				@media only screen and (min-width: 0px) and (max-width: 767px) {
					padding:0 10%;
				}
			}
			.data-tema{
				color:@laranja;
				line-height:120%;
				white-space:nowrap;
				.arvo(14px, bold);
				@media only screen and (min-width: 0px) and (max-width: 767px) {
					padding:0 10%;
				}
			}
			.descricao-tema{
				margin-top:10px;
				line-height:120%;
				.arial(16px);
				color:@laranja;
				strong{ font-weight:bold; }
				@media only screen and (min-width: 0px) and (max-width: 767px) {
					padding:0 10%;
				}
			}
			.rosa{
				margin-top:40px;
				color:@rosa;
				.suellen(20px);
				@media only screen and (min-width: 0px) and (max-width: 767px) {
					padding:0 10%;
				}
			}
		}
		.espacamento{
			height:100px;
		}
		.lully{
			text-align:right;
			img{
				width:100%;
				max-width:412px;
			}
			@media only screen and (min-width: 0px) and (max-width: 767px) {
				display:none;
			}
		}
		footer{padding-bottom: 20px;}
		@media only screen and (min-width: 768px) and (max-width: 979px) {			
			.pure-u-13-24, .pure-u-11-24{
				width:100%;
			}
		}
	}
	&.premios{
		background:url('../../images/concurso/bg-premios.png') @laranja center top no-repeat;
		header{
			padding-top:30px;
			nav{
				@media only screen and (min-width: 701px){
					margin-top:-30px;
				}
				@media only screen and (min-width: 0px) and (max-width: 700px) {
					margin-top:0;
				}
				min-height:151px;
				ul{
					li{
						a.mn-home{
							padding:0 7px;
							width:202px;
							@media only screen and (min-width: 701px) {
								height:151px;
								margin-bottom:0;
								img{
									display:block;
									max-width:100%;
								}
							}
							@media only screen and (min-width: 0px) and (max-width: 700px) {
								height:auto;
								margin-bottom:6px;
								img{
									display:block;
									max-width:90%;
								}
							}
							img{
								display:block;
							}
							background-color:transparent;
							&:hover{
								background-color:transparent;
							}
						}
						a.mn-regulamento,
						a.mn-participe,
						a.mn-premios{
							background-color:@roxo;
							color:@verde_claro;
							@media only screen and (min-width: 701px){
								margin-top:60px;
							}
							@media only screen and (min-width: 0px) and (max-width: 700px) {
								margin-top:0px;
							}
							&:hover, &.ativo{
								color:@roxo;
								background-color:@verde_claro;
							}
						}
					}
				}
			}
		}
		.premiacao{
			background:url('../../images/concurso/premios.png') left top no-repeat;
			@media only screen and (min-width: 0px) and (max-width: 979px) {
				background-size:100% auto;			
			}
			@media only screen and (min-width: 571px){
				padding-top:255px;
			}
			@media only screen and (min-width: 0px) and (max-width: 570px) {
				text-align:center;
				padding-top:74%;
			}
			p{
				color:@roxo;
				.arvo(16px, bold);
				&.detalhe-premio{
					margin-top:20px;
					line-height:160%;
					.arvo(12px, bold);
					.titulo-premio{ display:block; .arvo(20px, bold); }
				}
			}
		}
		.resultados, .premiados{
			h2{
				color:@rosa;
				.suellen(36px);
			}
			p{
				line-height:150%;
				margin-top:20px;
				&.sem-margem{margin-top:0;}
				.arvo(14px, bold);
				color:@roxo;
				span{
					&.titulo{
						font-size:20px;
					}
					&.destaque{
						font-size:18px;
					}
					&.branco{
						color:#fff;
					}
				}
			}
			@media only screen and (min-width: 0px) and (max-width: 979px) {
				text-align: center;
			}
		}
		@media only screen and (min-width: 0px) and (max-width: 979px) {
			.resultados{
				margin-top:60px;
			}
		}
		.premiados{
			margin-top:40px;
		}
		footer{
			margin-top:60px;
			border-top:2px #EF8A36 solid;
			padding-top:10px;
			padding-bottom:20px;
			position:relative;
			@media only screen and (min-width: 611px){
				.promocao{
					position:absolute;
					top:10px;
					right:0;
				}
			}
			@media only screen and (min-width: 0px) and (max-width: 610px) {
				.promocao{
					float:none;
					text-align:right;
					position:relative;
				}
			}
			.assinatura{
				max-width:370px;
				width:100%;
				p{
					color:@roxo;
					line-height: 140%;
					.arial(11px);
					a{
						color:@roxo;
						.transition;
						&:active, &:visited{color:@roxo;}
						&:hover{color:#fff}
					}
				}
				.trupe{
					margin-top:25px;
					.arial(10px);
					a{
						color:@roxo;
						border-bottom:1px transparent solid;
						.transition;
						&:active, &:visited{color:@roxo;}
						&:hover{
							color:#fff;
						}
						img{
							vertical-align:-3px;
						}
					}
				}
			}
		}
		@media only screen and (min-width: 768px) and (max-width: 979px) {			
			.pure-u-5-8, .pure-u-3-8{
				width:100%;
			}
		}
		.vencedores{
			border-top:2px @roxo solid;
			padding:20px 0 0 0;
			margin:40px 0 0 0;
			text-align:center;
			clear:both;
			h1{
				.suellen(50px);
				color:@verde_claro;
				line-height:140%;
				&.roxo{ margin-top:50px; color:@roxo;}
				&.rosa{ margin-top:5px; color:@rosa;}
			}
			h2{
				.arvo(24px);
				color:@verde_claro;
			}
			.grid-vencedores{
				margin:30px 0;
				h3{
					.arvo(16px, bold);
					color:#fff;
					margin-bottom:10px;
				}
				p{
					height:133px;
					color:#fff;
					line-height:120%;
					.arial(16px);
					&.nome{
						height:auto;
						margin-top:20px;
						color:@roxo;
					}
				}
			}
		}
	}
	header{
		width:100%;
		max-width: 980px;
		margin:0 auto 20px auto;
		.social{
			width:100%;
			height:30px;
			padding:5px 0;
			.box{
				text-align:right;
			}
		}
		nav{
			@media only screen and (min-width: 700px) and (max-width: 979px) {
				text-align:center;
			}
			ul{
				list-style:none;
				li{
					@media only screen and (min-width: 0px) and (max-width: 699px) {
						display:block;
						margin:3px 0 3px 3px;				
					}
					@media only screen and (min-width: 700px) {
						.inline;
					}
					a{
						display:block;
						padding:0 30px;
						height: 35px;
						line-height: 35px;
						text-align:center;
						background-color:@roxo;
						color:@laranja;
						.arredondada(35px);
						.arvo(16px, 700);
						.transition;
						&:active, &:visited{color:@laranja;}
						&:hover, &.ativo{
							color:@roxo;
							background-color:@laranja;
						}
						&.mn-home{ max-width: 173px; }
						&.mn-regulamento{ max-width:111px; }
						&.mn-participe{ max-width:82px; }
						&.mn-premios{ max-width:71px; }
					}
				}
			}
		}
	}
	@media only screen and (min-width: 0px) and (max-width: 979px) {
		.centro{
			max-width:520px;
			width:94%;
			margin:0 auto;
			padding:0 3%
		}	
	}
	@media only screen and (min-width: 980px){
		.centro{
			width:100%;
			max-width: 980px;
			margin:0 auto;
		}	
	}
	footer{
		min-height:52px;
		width:100%;
		max-width: 980px;
		margin:0 auto;
		.promocao{
			.arvo(12px);
			color:#fff;
			vertical-align: top;
			float:right;
			@media only screen and (min-width: 0px) and (max-width: 979px) {
				margin-right:10%;
			}
		}
	}
}

span{
	&.roxo{color:@roxo;}
}

body{
	position:relative;
	.mensagem-outer{
		position:fixed;
		width:100%;
		height:100%;
		top:0;
		left:0;
		background:url('rgba.php/rgba(95, 62, 76, 0.5)');
		background:rgba(95, 62, 76, 0.5);
		.mensagem-caixa{
			width:300px;
			margin:150px auto 0 auto;
			padding:10px 15px 10px 15px;
			background-color:#fff;
			.arredondada(15px);
			-webkit-box-shadow:  0px 0px 12px 1px #000;        
			-moz-box-shadow:  0px 0px 12px 1px #000;        
			-ms-box-shadow:  0px 0px 12px 1px #000;        
			-o-box-shadow:  0px 0px 12px 1px #000;        
			box-shadow:  0px 0px 12px 1px #000;        
        	box-shadow:  0px 0px 12px 1px #000;
        	.mensagem-texto{			
				.arvo(18px);
				color:@roxo;
				text-align:center;
				margin:0 0 10px 0;
        	}
			.mensagem-ok{
				display:block;
				margin:20px auto 0 auto;
				width:90px;
				height:40px;
				line-height:40px;
				text-align: center;
				.arredondada(10px);
				background-color:@laranja;
				color:@roxo;
				.arvo(18px, bold);
				.transition;
				&:active, &:visited{color:@roxo;}
				&:hover{color:#fff;}
			}
		}
	}
}

@keyframes spin {
	to {
		-webkit-transform: rotate(1turn);
		-moz-transform: rotate(1turn);
		-ms-transform: rotate(1turn);
		-o-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}

.progress {
	position: relative;
	display: inline-block;
	width: 5em;
	height: 5em;
	margin: 0 .5em;
	font-size: 12px;
	text-indent: 999em;
	overflow: hidden;
	-webkit-animation-name:spin;
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:steps(8);
	-webkit-animation-play-state:running;
	-moz-animation-name:spin;
	-moz-animation-duration:1s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function:steps(8);
	-moz-animation-play-state:running;
	-ms-animation-name:spin;
	-ms-animation-duration:1s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-timing-function:steps(8);
	-ms-animation-play-state:running;
	-o-animation-name:spin;
	-o-animation-duration:1s;
	-o-animation-iteration-count:infinite;
	-o-animation-timing-function:steps(8);
	-o-animation-play-state:running;
	animation-name:spin;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-timing-function:steps(8);
	animation-play-state:running;
}

.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 2.45em; /* (container width - part width)/2  */
	width: .1em;
	height: 1.5em;
	border-radius: .2em;
	background: #eee;
	box-shadow: 0 3.5em #eee; /* container height - part height */
	-webkit-transform-origin: 50% 2.5em; /* container height / 2 */
	-moz-transform-origin: 50% 2.5em; /* container height / 2 */
	-ms-transform-origin: 50% 2.5em; /* container height / 2 */
	-o-transform-origin: 50% 2.5em; /* container height / 2 */
	transform-origin: 50% 2.5em; /* container height / 2 */
}

.progress:before {
	background: #555;
}

.progress:after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background: #777;
}

.progress > div:before {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	background: #999;
}

.progress > div:after {
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	background: #bbb;
}