@import url('http://fonts.googleapis.com/css?family=Arvo:400,700|Sue+Ellen+Francisco');

@laranja:#EB6E24;
@roxo:#531E50;
@rosa:#D9186A;
@verde_escuro:#184421;
@verde_musgo:#65873A;
@verde_claro:#B6C733;
@verde_fundo:#90C13F;

@largura:980px;

.centralizar(@pad:0){
	width:@largura - (@pad * 2);
	padding:0 @pad;
	margin:0 auto;
}
.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}
.arvo(@fsize:12px, @fweight:normal){
	font-family: 'Arvo', serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.suellen(@fsize:12px, @fweight:normal){
	font-family: 'Sue Ellen Francisco', cursive;
	font-size:@fsize;
	font-weight:@fweight;
}
.arial(@fsize:12px, @fweight:normal){
	font-family: 'Arial', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.arredondada(@raio:10px){
	-webkit-border-radius:@raio;
	-moz-border-radius:@raio;
	-o-border-radius:@raio;
	border-radius:@raio;
	behavior:url('PIE.htc');
}
.transition(@prop:all, @dur:.3s, @type:ease-in){
	-webkit-transition:@prop @dur @type;
   -moz-transition:@prop @dur @type;
   -o-transition:@prop @dur @type;
   transition:@prop @dur @type;
}
.aviso{ color: #9F6000; background-color: #FEEFB3; border:2px #9F6000 solid; }
.sucesso{ border:2px #C6D880 solid; background-color:#E6EFC2; color:#264409; }
.falha{ border:2px #D8000C solid; color:#D8000C; background-color:#FFBABA; }
.offscreen{
	display:block;
	text-indent:-999999999px;
}
.clear{ clear: both; }
.placeholder(@cor:#000){
	&::-webkit-input-placeholder{ color:@cor; }
	&:-moz-placeholder{ color:@cor; }
	&::-moz-placeholder { color:@cor; }
	&:-ms-input-placeholder { color: @cor; }
}