html.login, html.login body{ background-color:#888; }
html.login form{ margin-bottom:0; }
html.login div.modal{ position:relative;margin:48px auto;top:0;left:0; }
#modal-recovery{ display:none; }
.dropdown-menu{ display:none; }
.container.top{ margin-top:18px; }
.center{ text-align:center; }
form.search{ margin:0 0; }
.list-page h2 a{ float:right; }
.crud-actions{ width:118px; }
.move-actions{ width:60px; }

#footer {
  margin:30px 0 30px 0;
  background-color: #fff;
  background-repeat: no-repeat;
}

body.login #footer hr {
  display: none;
}

#footer p a {
  font-weight: bold;
}

#footer p {
  margin-bottom: 0;
}
#footer p.right {
  float: right;
}

.navbar-fixed-top .brand {
  color: #CCC;
  float: right;
  font-weight: bold;
  margin-left: 20px;
  padding-left: 0;
  padding-right: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
}

.plain-form {
  margin: 0 0;
}

.progress-form-file {
  margin: 18px 0;
  width: 260px;
}

.users-header a {
  float: right;
}

textarea.pequeno{ min-width:520px !important; height:200px !important; }
textarea.medio{ min-width:690px !important; height:450px !important; }
textarea.grande{ min-width:940px !important; height:380px !important; }
td.nowrap{  max-width:290px; }
td.titulo{  width:150px; }
table.table-sortable tr{ width:100% !important; }
.btn.mrg-d{ margin-bottom:5px; }

.crud-actions{
  white-space:nowrap;
}
.crud-actions form{
  display: inline-block;
  *display:inline;
  zoom:1;
  vertical-align:top;
  width:67px;
  margin:0;
}

.btn-voltar{ vertical-align:top; }
.login label{ margin:0 !important; }
label{margin-bottom:20px;}
label.no-margin{margin-bottom:2px;}

.visualizacao-concurso{
  margin-bottom: 0;
  font-weight:bold;
  font-size:16px;
}
.visualizacao-concurso + p{
  padding-left:5px;
  font-size:14px;
}