@import 'vars.less';

.titulo404{
	padding:160px 0;
	text-align: center;
	color:@verde;
	.roboto(45px);
}

input[type="submit"]{
	-webkit-appearance:none;
	-moz-appearance: none;
   	appearance: none;
}

html{
	body{
		position:relative;
		background:url('../../images/layout/bg-negro.jpg') repeat;
		#faixa-branca{
			position:absolute;
			z-index:-1;
			background-color: #fff;
			width:100%;
			height:230px;
			&.faixa-home{height:300px;}
		}
		nav{
			height:82px;
			position:relative;
			#sociais {
				position: absolute;
				z-index: 9999;
				width: 37px;
				height: 37px;
				right: 0;
				top: 22px;
				@media @mobile_e_tablet {
					right: 72px;
				}
				@media @mobile {
					right: 0;
					top: 145px;
				}
				a {
					display: block;
					width: 16px;
					height: 16px;
					text-indent: -9999px;
					float: left;
					&:nth-child(1), &:nth-child(2) { margin-bottom: 5px; }
					&:nth-child(1), &:nth-child(3) { margin-right: 5px; }
					&.link-fb {
						background: url('../../images/layout/sociais/icone-facebook.png') no-repeat center
					}
					&.link-yt {
						background: url('../../images/layout/sociais/icone-youtube.png') no-repeat center
					}
					&.link-ig {
						background: url('../../images/layout/sociais/icone-instagram.png') no-repeat center
					}
					&.link-gp {
						background: url('../../images/layout/sociais/icone-googleplus.png') no-repeat center
					}
				}
			}
			a.logo-link{
				position:relative;
				z-index:9999;
				width:230px;
				height:193px;
				float:left;
				@media @mobile{
					height: 154px;
					margin-bottom: 76px;
					overflow: hidden;
					img{
						//max-width:100%;
					}
				}
				.transition;
				&:active, &:visited{}
				&:hover{}
			}
			@media @mobile_e_tablet{
				ul{
					position:absolute;
					z-index:9999;
					left:0;
					top:143px;
					background:#fff;
					font-size:0;
					&.escondido-mobile li.menu{display:none;}
					li.menu{
						display:block;
						height:50px;
						@media @desktop{
							position:relative;
						}
						a{
							width:190px;
							padding:0 18px;
							border-right:1px #fff solid;
							border-left:1px #fff solid;
							height:50px;
							line-height:50px;
							display:block;
							background:#fff;
							color:@azul_medio;
							text-transform: uppercase;
							.roboto(18px, bold);
							.transition;
							&:active, &:visited{color:@azul_medio;}
							&:hover, &.ativo{
								background:@amarelo;
							}
						}
						.submenu{
							width:170px;
							height:130px;
							margin:8px 0 0 0;
							background:#fff;
							display:none;
							&.aberto{
								display:block;
							}
							li{
								border:0;
								height:21px;
								position:relative;
								text-align:center;
								a{
									height:21px;
									padding:0;
									border:none;
									line-height:130%;
									color:@azul_medio;
									.roboto(14px);
									.transition;
									&:before{
										content:'»';
										color:#fff;
										.roboto(15px);
										.transition;
										margin-right:4px;
									}
									&:after{
										content:'«';
										color:#fff;
										.roboto(15px);
										.transition;
										margin-left:4px;
									}
									&:active, &:visited{color:@azul_medio;}
									&:hover, &.ativo{
										background-color:#fff;
										&:before{color:@amarelo;}
										&:after{color:@amarelo;}
									}
								}
							}
						}
					}
					li.first{
						padding:10px;
						height:30px;
						background:url('../../images/layout/icone-home-over.png') -500px top no-repeat;
						.inline;
						a{
							display:block;
							width:80px;
							height:30px;
							text-indent:-999px;
							background:url('../../images/layout/icone-home.png') left 6px no-repeat;
							position: relative;
							.transition;
							&:active, &:visited{}
							&:hover, &.ativo{background:url('../../images/layout/icone-home-over.png') left 6px no-repeat;}
							&:after{
								content:"MENU";
								line-height:30px;
								color:@azul_medio;
								.roboto(18px);
								position: absolute;
								left:23px;
								text-indent:0;
							}
						}
					}
				}
			}
			@media @mobile{
				ul li.menu{
					height:auto;
					min-height: 50px;
					.submenu{
						height:auto;
						width:215px;
						position:relative;
						margin:0;
						padding:15px 0;
						padding-left: 15px;
						top:0;
						left:0;
					}
				}
			}
			@media @tablet{
				ul li.menu .submenu{
					position:absolute;
					top: 42px;
					left: 223px;
				}
			}
			@media @desktop{
				ul{
					height:50px;
					margin:15px 0;
					position:absolute;
					z-index:2;
					right:15px;
					top:0;
					width:650px;
					background:#fff;
					font-size:0;
					li.menu{
						.inline;
						border-left:1px @amarelo solid;
						height:50px;
						position:relative;
						a{
							padding:0 18px;
							border-right:1px #fff solid;
							border-left:1px #fff solid;
							height:50px;
							line-height:50px;
							display:block;
							background:#fff;
							color:@azul_medio;
							.roboto(14px, bold);
							.transition;
							&:active, &:visited{color:@azul_medio;}
							&:hover, &.ativo{
								background:@amarelo;
							}
						}
						.submenu{
							width:170px;
							height:130px;
							margin:8px 0 0 0;
							position:absolute;
							top: 50px;
							left: -35px;
							background:#fff;
							display:none;
							&.aberto{
								display:block;
							}
							li{
								border:0;
								height:21px;
								position:relative;
								text-align:center;
								a{
									height:21px;
									padding:0;
									border:none;
									line-height:130%;
									color:@azul_medio;
									.roboto(14px);
									.transition;
									&:before{
										content:'»';
										color:#fff;
										.roboto(15px);
										.transition;
										margin-right:4px;
									}
									&:after{
										content:'«';
										color:#fff;
										.roboto(15px);
										.transition;
										margin-left:4px;
									}
									&:active, &:visited{color:@azul_medio;}
									&:hover, &.ativo{
										background-color:#fff;
										&:before{color:@amarelo;}
										&:after{color:@amarelo;}
									}
								}
							}
						}
					}
					li.first{
						padding:15px 20px 0 30px;
						height:35px;
						background:url('../../images/layout/icone-home-over.png') -500px top no-repeat;
						.inline;
						a{
							display:block;
							width:18px;
							height:16px;
							text-indent:-999px;
							background:url('../../images/layout/icone-home.png') center top no-repeat;
							.transition;
							&:active, &:visited{}
							&:hover, &.ativo{background:url('../../images/layout/icone-home-over.png') center top no-repeat;}
						}
					}
				}
			}
		}
		.main{
			min-height:700px;
		}
		footer{
			position:relative;
			background: #fff;
			z-index:2;
			height:175px;
			clear:both;
			#faixa-azul{
				position:absolute;
				background: url('../../images/layout/bg-negro.jpg') repeat;
				width:100%;
				height:45px;
				z-index:-1;
			}
			.links-grupo{
				background:@azul_medio;
				color:#fff;
				width:640px;
				@media @mobile{ max-width: 100%; }
				margin:0 auto 20px auto;
				text-align:center;
				padding:5px 0 8px 0;
				.calibri(10px);
				.arredondada(10px);
				span{
					padding:2px 0 10px 0;
					display:block;
					line-height:100%;
				}
				a{
					width:20%;
					text-indent:-5000px;
					overflow:hidden;
					@media @mobile{
						width:40%;
						margin:15px 0;
					}
					.inline;
					&.link-bignardi{
						height:30px;
						background:url('../../images/layout/icone-bignardi-hover.png') center top no-repeat;
						&:hover{background:url('../../images/layout/icone-bignardi-hover.png') center -31px no-repeat;}
					}
					&.link-bignardi-papeis{
						height:30px;
						background:url('../../images/layout/icone-bignardi-papeis-hover.png') center top no-repeat;
						&:hover{background:url('../../images/layout/icone-bignardi-papeis-hover.png') center -31px no-repeat;}
					}
					&.link-jandaia{
						height:38px;
						background:url('../../images/layout/marca-jandaia-representantes-hover.png') center top no-repeat;
						&:hover{background:url('../../images/layout/marca-jandaia-representantes-hover.png') center -41px no-repeat;}
					}
					&.link-jandaia-cadernos{
						height:38px;
						background:url('../../images/layout/marca-jandaia-cadernos-hover.png') center top no-repeat;
						&:hover{background:url('../../images/layout/marca-jandaia-cadernos-hover.png') center -38px no-repeat;}
					}
				}
				.separador{
					.inline;
					background:#3174B5;
					width:1px;
					height:35px;
					margin:0 10px;
					@media @mobile{display:none;}
				}
				img{display:block;margin:0 auto;}
			}
			.assinatura{
				text-align:center;
				color:@azul_medio;
				.calibri(11px);
				@media @mobile{
					padding:20px 0;
					background:#fff;
				}
				a{
					border-bottom:1px #fff dotted;
					color:@azul_medio;
					.transition;
					&:active, &:visited{color:@azul_medio;}
					&:hover{border-bottom:1px @azul_medio dotted;}
				}
			}
		}
		@media @mobile {
			footer {
				min-height: 175px;
				height: auto;
			}
		}
	}
}

#faixa-branca.fabricacao,
#faixa-branca.campanha{
	height:193px;
}
.espacador{
	padding:125px 0 100px 0;
	h1{
		.roboto(40px);
		color:@verde;
		line-height:120%;
		margin-bottom:5px;
	}
	h2{
		.calibri(15px);
		color:#fff;
		line-height:120%;
		margin-bottom:20px;
	}
	iframe{
		display:block;
		margin:0 auto;
	}
}
