@import 'vars.less';

.main{
	section{
		padding-top:58px;
		clear:both;
		//margin-top:300px;
		position:relative;
		.texto{
			width:500px;
			.inline;
			@media @mobile{
				display:block;
				width:90%;
				margin:0 auto;
			}
			@media @tablet{
				display:block;
				width:90%;
				margin:0 auto;
			}
		}
		h1{
			color:@amarelo;
			.roboto(40px);
			line-height:120%;
		}
		h2{
			.calibri(16px);
			color:#fff;
			text-style:italic;
			line-height:100%;
			margin:10px 0;
		}
		p{
			margin:10px 0;
			color:#fff;
			.calibri(14px);
			a{
				color:#fff;
				.transition;
				&:active, &:visited{color:#fff;}
				&:hover{color:@amarelo;}
			}
		}
		.imagens{
			width:401px;
			margin-left:75px;
			.inline;
			@media @mobile_e_tablet{
				margin:20px auto;
				display:block;
				width:100%;
				img{
					max-width: 90%;
					margin:0px auto;
					display:block;
				}
			}
			.fsc{
				background-color:#2BB071;
				padding:20px 39px 20px 39px;
				border:1px #fff solid;
				min-height:220px;
				color:#fff;
				.calibri(13px);
				line-height:160%;
				text-align:center;
				overflow:hidden;
				img{
					display:block;
					max-width:150px;
					margin:0 auto 10px auto;
				}
			}
		}
		.infografico{
			padding:50px 0 50px 0;
			clear:both;
			display:block;
			overflow:hidden;
			#timeline{
				position:relative;
				background:url('../../images/timeline/linha-tempo.png') center 34px no-repeat;
				#dates{
					height:60px;
					overflow:hidden;
					width:980px;
					@media @mobile{
						width:100%;
						overflow:hidden;
					}
					li{
						list-style: none;
						float: left;
						width: 150px;
						height: 50px;
						text-align: center;
						overflow:hidden;
						a{
							.roboto(24px);
							display:block;
							padding-bottom: 10px;
							color:@amarelo;
							line-height: 100%;
							height:30px;
							background:url('../../images/timeline/bolinha.png') center bottom no-repeat;
							.transition;
							&:active, &:visited{color:@amarelo;}
							&:hover{
								color:#fff;
							}
							&.selected{
								font-size:30px;
								color:#fff;
								vertical-align:-2px;
							}
						}
					}
				}
				#issues{
					margin-left: 0px;
					list-style: none;
					height: 350px;
					li{
						float:left;
						width:980px;
						@media @mobile{width:450px;}
						@media @tablet{width:700px;}
						.card{
							width:790px;
							margin:0 auto;
							@media @mobile{
								width:320px;
								margin:0 15px;
							}
							@media @tablet{width:660px;}
							.imagem{
								float:left;
								width:300px;
								@media @mobile{
									float:none;
									width:150px;
								}
								margin:0 20px 0 0;
								img{
									max-width:300px;
									@media @mobile{max-width:100%;}
									.transition(all, 1s, ease-in);
									-moz-transform: scale(0.7, 0.7);
									-webkit-transform: scale(0.7, 0.7);
									-o-transform: scale(0.7, 0.7);
									-ms-transform: scale(0.7, 0.7);
									transform: scale(0.7, 0.7);
								}
							}
							h2{
								.roboto(60px);
								color:#fff;
								margin-bottom:5px;
							}
							p{
								color:@amarelo;
								.calibri(18px);
								line-height:170%;
								@media @mobile{
									width:85%;
								}
							}
						}
						&.selected{
							.card{
								img{
									-moz-transform: scale(1, 1);
									-webkit-transform: scale(1, 1);
									-o-transform: scale(1, 1);
									-ms-transform: scale(1, 1);
									transform: scale(1, 1);
								}
							}
						}
					}
				}
				#next{
					position:absolute;
					top:160px;
					right:0;
					text-indent: -9999px;
					width:30px;
					height:53px;
					background:url('../../images/timeline/seta-direita.png') -30px top no-repeat;
					.transition;
					&:hover{
						background-position: 0 top;
					}
				}
				#prev{
					position:absolute;
					top:160px;
					left:0;
					text-indent: -9999px;
					width:30px;
					height:53px;
					background:url('../../images/timeline/seta-esquerda.png') 0 top no-repeat;
					.transition;
					&:hover{
						background-position: -30px top;
					}
				}
			}
		}
		.img-area{
			display:block;
			max-width:100%;
			margin:80px auto 70px auto;
		}
		.certificacoes-qualidade {
			margin-bottom: 70px;
		}
		.certificacoes{
			padding:50px 0 50px 0;
			clear:both;
			display:block;
			font-size:0;
			.cert{
				.inline;
				width:200px;
				height:348px;
				border:1px @amarelo solid;
				background:#fff;
				padding:18px;
				margin-left:8px;
				margin-top:8px;
				@media @desktop{
					&:nth-child(4n+1){margin-left:1px;}
				}
				@media @mobile{
					max-width: 80%;
					display:block;
					margin:0 auto 10px auto;
				}
				@media @tablet{
					width:40%;
					.inline;
				}
				.imagem{
					height:90px;
					margin:5px 0 20px 0;
					img{
						margin:0 auto;
						display:block;
						max-height:90px;
					}
				}
				p{
					.calibri(13px);
					color:@azul;
					line-height:135%;
					text-align:center;
				}
			}
		}
		.linksExportacao{
			font-size:0;
			p{
				color:@amarelo;
				font-weight: bold;
				font-size: 18px;
			}
			a{
				.inline;
				width:323px;
				height:50px;
				background-color:@amarelo;
				padding-left:60px;
				margin-right:15px;
				margin-bottom:10px;
				@media @mobile{
					height:auto;
					min-height:50px;
					max-width:80%;
					margin:0 auto 10px auto;
				}
				.arredondada(7px);
				font-family: 'Arial', 'Verdana', 'Tahoma', sans-serif;
				font-size:14px;
				font-weight:normal;
				line-height:120%;
				color:#007cc3;
				background-repeat: no-repeat;
				background-position: 5px center;
				strong{
					margin-top:10px;
					display:block;
					font-size:14px;
					font-weight:bold;
				}
				.transition;
				&:active, &:visited{color:#007cc3;}
				&:hover{background-color:@amarelo_claro;}
				&.download-btn{
					background-image:url('../../images/empresa/exportacoes/icon-download.png');
				}
				&.visualize-btn{
					background-image:url('../../images/empresa/exportacoes/icon-presentation.png');
				}
			}
		}
		.linksVideoExportacao{
			margin:10px 0 50px 0;
			font-size: 0;
			a{
				width:183px;
				margin-right:10px;
				color:#007cc3;
				overflow:hidden;
				img{
					display:block;
					margin-bottom:1px;
				}
				.texto{
					.transition;
					background-color:@amarelo;
					font-family: 'Arial', 'Verdana', 'Tahoma', sans-serif;
					font-size:12px;
					font-weight:bold;
					padding:4px 7px;
					max-width: 183px;
				}
				.inline;
				@media @mobile{
					display:block;
					margin:0 auto 10px auto;
				}
				&:active, &:visited{color:#007cc3;}
				&:hover{
					.texto{
						background-color:@amarelo_claro;
					}
				}
			}
		}
	}
}
.main.main-representantes-empresa-lab{
	min-height: 0;
}
#faixa-branca-lab{
	margin-top: 180px;
	background: #fff;
	padding:15px 0;
	margin-bottom:75px;
	.arredondada(10px);
	#imagem-topo-lab{
		float:right;
		margin-top: -105px;
		@media @mobile{
			float:none;
			margin-top:0;
			width:100%;
		}
	}
	#imagem-chamada-lab{
		margin-left:15px;
		@media @mobile{
			margin:10px auto;
			width:100%;
		}
	}
	p.island-p{
		width: 500px;
		margin:30px 0 40px 40px;
		color:@azul;
		line-height: 130%;
		.roboto(18px);
		@media @mobile{
			margin:10px auto;
			width:90%;
		}
	}
	.box{
		.arredondada(10px);
		padding:20px;
		@media @mobile{
			padding:0;
			width:100%;
			box-sizing: border-box;
		}
		&.azul-claro{
			background:#FFF;
			.innerbox{
				.arredondada(20px);
				position:relative;
				&.vermelho{
					z-index:9;
					background:#AE0D5D;
					padding:25px;
					height:131px;
					width:650px;
					@media @mobile{
						width:100%;
						height:auto;
						box-sizing: border-box;
						margin:0 auto;
					}
					@media @tablet{
						width:100%;
						box-sizing: border-box;
						height:auto;
						min-height: 180px;
					}
					img{
						margin-top:-25px;
						margin-left:-22px;
						float:left;
						@media @mobile{display:none;}
					}
					p{
						margin-left: 280px;
						width: 500px;
						color:#fff;
						line-height: 130%;
						.roboto(24px);
						@media @mobile{
							margin-left: 0px;
							width:100%;
						}
						@media @tablet{
							max-width:55%;
							box-sizing: border-box;
						}
					}
				}
				&.azul{
					z-index:1;
					padding:25px 25px 25px 50px;
					height: 147px;
					width:625px;
					margin-left:240px;
					background:#4D0CAE;
					@media @tablet{
						width:100%;
						box-sizing: border-box;
						height:auto;
						margin-left:0;
						padding-top:76px;
					}
					@media @mobile{
						padding:25px;
						height:auto;
						margin-left:0px;
						box-sizing: border-box;
						width:100%;
					}
					p{
						width: 330px;
						margin:0px 0 40px 0;
						color:#fff;
						line-height: 125%;
						.roboto(24px);
						@media @mobile{
							margin:0px;
							box-sizing: border-box;
							width:100%;
						}
					}
					img{
						float:right;
						margin-top:-23px;
						margin-right:-25px;
						@media @mobile{display:none;}
					}
				}
			}
			.inner-p{
				.roboto(20px);
				color:#4D0CAE;
				line-height:130%;
				padding-left:10px;
				margin-top:25px;
			}
		}
		&.fundo-branco{
			min-height: 476px;
			background:url('../../images/lab/cadernos-angrybirds-jandaia.png') #fff 567px 20px no-repeat;
			@media @tablet{background:#fff;}
			p{
				max-width:515px;
				padding-left:10px;
				@media @mobile{padding-right:10px;}
				&.azul{
					color:#3D7489;
					line-height:130%;
					margin-bottom:20px;
					.roboto(24px);
				}
				&.laranja{
					color:#FF6600;
					line-height:140%;
					margin-bottom:20px;
					.roboto(18px);
				}
				&.rosa{
					color:#DC00C9;
					line-height:140%;
					margin-bottom:20px;
					.roboto(18px);
				}
				&.verde{
					color:#009933;
					line-height:125%;
					margin-bottom:20px;
					.roboto(32px);
				}
			}
		}
	}
}

.lab-2017 {
	margin-top: 180px;
	background: #FBD800;
	padding:50px;
	margin-bottom:75px;
	.arredondada(10px);
	.centro { overflow: auto; zoom: 1; }
	@media @tablet {
		padding: 35px;
	}
	@media @mobile {
		padding: 20px;
	}
	&-left {
		width: 56.81%;
		float: left;
		img {
			margin-bottom: 40px;
		}
		p {
			line-height:140%;
			margin-bottom:20px;
			.roboto(18px);
			color: #373435;
		}
		@media @mobile {
			width: 100%;
			margin-bottom: 5%;
			img {
				margin-bottom: 20px;
			}
			p {
				font-size: 16px;
			}
		}
		@media @tablet {
			img {
				margin-bottom: 30px;
			}
			p {
				font-size: 17px;
			}
		}
	}
	&-right {
		width: 35.227%;
		float: right;
		@media @mobile {
			width: 100%;
		}
	}
	img {
		max-width: 100%;
		display: block;
	}
}

.main section.melhor-escolha {
	margin-bottom: 70px;
	@media @mobile {
		padding-top: 30px !important;
	}
	.centro {
		overflow: auto; zoom: 1;
		padding-top: 10px;
		@media @mobile {
			width: 90%;
			padding-top: 0;
			margin: 0 auto;
		}
	}
	.melhor-escolha-left {
		width: 52%;
		float: left;
		h2 {
			color: @amarelo;
			.roboto(19px);
			font-weight: 700;
			margin: 0;
		}
		p {
			.calibri(13px);
			margin: .2em 0 2em;
		}
		@media @mobile {
			width: 100%;
		}
	}
	.melhor-escolha-right {
		width: 40.816%;
		float: right;
		padding-top: 20px;
		@media @mobile {
			width: 100%;
			margin-bottom: 10%;
			padding-top: 0;
		}
	}
	.melhor-escolha-capas {
		clear: both;
		float: left;
		margin: 20px 0;
	}
	img {
		max-width: 100%;
		display: block;
	}
}
