@import 'vars.less';

.main{
	#banners{
		font-size: 0;
		clear:both;
		#fsc{
			width:220px;
			height:220px;
			.inline;
			img{}
			@media @mobile{display:none;}
		}
		#slides{
			width:418px;
			height:328px;
			overflow:hidden;
			margin-top:-108px;
			position:relative;
			.inline;
			@media @mobile{
				height:290px;
				max-width: 100%;
				margin-top:0px;
				padding-top:40px;
			}
			#pager{
				position: absolute;
				right:10px;
				top:10px;
				text-align: right;
				z-index:99999;
				a{
					.inline;
					width:8px;
					height:8px;
					margin:0 2px;
					.arredondada(100%);
					background:#fff;
					.transition;
					&:hover, &.activeSlide{
						background:@amarelo;
					}
				}
			}
			.animate{
				width:418px;
				height:328px;
				overflow:hidden;
				position: absolute;
				top:0;
				left:0;
				.slide{
					position:absolute;
					top:0;
					left:0;
					img{
						position:absolute;
						top:0;
						left:0;
						z-index:1;
					}
					h1{
						.roboto(40px, bold);
						color:#fff;
						position:absolute;
						z-index:1;
						top:250px;
						left:20px;
						width:398px;
						line-height:120%;
						.transition;
					}
					h2{
						.roboto(14px, bold);
						color:#fff;
						position:absolute;
						z-index:2;
						top:0;
						left:0;
						top:295px;
						left:20px;
						width:398px;
						line-height:120%;
						.transition;
					}
					&:active, &:visited{ h1, h2 {color:#fff;}}
					&:hover{ h1, h2{ color:@azul;}}
					&.escondido-desktop{
						@media @desktop{
							display:none;
						}
					}
				}
			}
		}
		#banners-laterais{
			.inline;
			margin-top:-108px;
			height:330px;
			width:342px;
			@media @mobile_e_tablet{display:none}
			.primeiro{
				position:relative;
				.inline;
				height:280px;
				width:140px;
				img{
					height:280px;
					width:140px;
					position:absolute;
					z-index:1;
					top:0;
					left:0;
				}
				span{
					.roboto(16px, bold);
					color:#fff;
					z-index:3;
					display:block;
					line-height: 135%;
					position:absolute;
					top:49px;
					width:105px;
					left:17px;
					.transition;
					strong {
						font-size: 28px;
					}
				}
				&:active, &:visited{ span{color:#fff;}}
				&:hover{ span{ color:@amarelo;}}
			}
			.segundo{
				.inline;
				height:280px;
				width:202px;
				position:relative;
				img{
					height:280px;
					width:202px;
					position:absolute;
					top:0;
					left:0;
					z-index:1;
				}
				.texto{
					position:absolute;
					z-index:3;
					top:205px;
					left:17px;
					line-height:110%;
					color:#fff;
					.transition;
					.roboto(16px, bold);
					span{
						display:block;
						margin-top:6px;
						font-size:40px;
						line-height:100%;
					}
				}
				&:active, &:visited{ .texto{color:#fff;}}
				&:hover{ .texto{ color:@verde;}}
			}
			.terceiro{
				background: #385880;
				display:block;
				clear:both;
				padding:8px 0 0 17px;
				height:40px;
				margin:0;
				color:#99FFFF;
				line-height:220%;
				position: relative;
				.roboto(14px, bold);
				.transition;
				&:active, &:visited{color:#99FFFF;}
				&:hover{
					background:#112C4C;
				}
				&:after{
					content:"";
					.transition;
					display: block;
					position: absolute;
					left: 314px;
					top: 50%;
					margin-top: -8px;
					width: 16px;
					height: 16px;
					background: url('../../images/home/seta-circulo-azul.png') no-repeat center;
				}
			}
		}
	}
	#conteudo-home{
		.centralizar;
		margin:28px auto 65px auto;
		font-size:0;
		.coluna-esquerda{
			.inline;
			margin-right:40px;
			width:600px;
			@media @mobile{ max-width: 100%; }
			#sociais{
				.roboto(28px, bold);
				color:@amarelo;
				height:56px;
				margin-bottom:10px;
				@media @mobile{
					display:block;
					height:auto;
					line-height: 170%;
				}
				span{
					.inline;
					@media @mobile{
						display:block;
					}
					line-height:112%;
					margin-right:18px;
				}
				.like{
					.inline;
					width:70px;
					padding-top:12px;
					.fb-like{
						span{
							vertical-align: top !important;
						}
					}
				}
				a{
					.inline;
					width:30px;
					height:30px;
					margin:2px 2px;
					font-size:2px;
					text-indent: -9999px;
					overflow:hidden;
					&.link-fb{
						background:url('../../images/layout/icone-facebook.png') center top no-repeat;
						&:hover{background-position: center -30px;}
					}
					&.link-tw{
						background:url('../../images/layout/icone-twitter.png') center top no-repeat;
						&:hover{background-position: center -30px;}
					}
					&.link-yt{
						background:url('../../images/layout/icone-youtube.png') center top no-repeat;
						&:hover{background-position: center -30px;}
					}
					&.link-ig{
						background:url('../../images/layout/icone-instagram.png') center top no-repeat;
						&:hover{background-position: center -30px;}
					}
					&.link-gp{
						background:url('../../images/layout/icone-googleplus.png') center top no-repeat;
						&:hover{background-position: center -30px;}
					}
				}
			}
			#destaque{
				width: 100%;
				position: relative;
				padding-bottom: 56.25%; /* 16:9 */
				background: @amarelo;
				iframe {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
		aside{
			.inline;
			width:340px;
			@media @mobile_e_tablet{
				display:block;
				width:100%;
				margin:30px auto 0 auto;
			}
			.aside-banner {
				display: block;
				max-width: 340px;
				width: 100%;
				height: auto;
				margin: 0 auto;
				img {
					width: 100%;
					height: auto;
				}
			}
			form{
				background:#fff;
				padding:10px;
				margin-bottom:24px;
				@media @mobile_e_tablet{
					max-width: 350px;
					margin-right:auto;
					margin-left:auto;
				}
				font-size:0;
				.coluna-esquerda-lecom{
					display:inline-block;
					vertical-align: top;
					width:120px;
					margin-right: 10px;
					input{
						max-width: 100%;
						box-sizing: border-box;
					}
					img{
						display: block;
						margin:5px 0 0 0;
					}
				}
				.coluna-direita-lecom{
					display:inline-block;
					vertical-align: top;
					width:190px;
					position: relative;
					.texto{
						width:63px;
						height:73px;
						position: absolute;
						right:7px;
						bottom:7px;
						p{
							color:#fff;
							line-height: 120%;
							height:33px;
							.calibri(9px);
						}
						a{
							height:40px;
							display: block;
							box-sizing: border-box;
							background-color:#ec6619;
							color:#fff;
							text-align: center;
							margin-top:2px;
							line-height: 130%;
							padding:8px;
							.calibri(10px, bold);
							.arredondada(4px);
							.transition;
							&:hover{
								color:#391834;
							}
						}
					}
				}
				span{
					.calibri(11px, bold);
					color:@azul_medio;
					line-height:140%;
				}
				input[type="text"],
				input[type="password"]{
					display: block;
					border:0;
					margin:0 5px 0 0;
					padding:0px 5px;
					background:@azul_claro;
					width:128px;
					height:20px;
					margin-top:5px;
					.calibri(12px);
					color:#000;
					.placeholder(#000);
				}
				input[type="submit"]{
					display: block;
					width:100%;
					text-align: center;
					height:20px;
					line-height:20px;
					text-align:center;
					background:#007CC4;
					color:#FFF;
					border:0;
					margin:5px 0 0 0;
					padding:0;
					cursor:pointer;
					.calibri(10px, bold);
					.transition;
					&:hover{background:@azul; color:#fff;}
					@media @mobile-portrait{
						display:block;
						margin:10px auto;
					}
				}
			}
			ul#lista-novidades{
				border-top:1px #fff solid;
				li{
					border-bottom:1px #fff solid;
					a{
						display:block;
						padding:14px 0 14px 0;
						min-height:70px;
						background:url('../../images/layout/seta-branca.png') transparent right 95% no-repeat;
						.transition;
						-webkit-animation-name: animacaoSetaHome;
						-webkit-animation-duration: 1s;
						-webkit-animation-timing-function: ease;
						-webkit-animation-delay: 0;
						-webkit-animation-iteration-count: infinite;
						-webkit-animation-direction: normal;
						-webkit-animation-play-state: paused;
						-moz-animation-name: animacaoSetaHome;
						-moz-animation-duration: 1s;
						-moz-animation-timing-function: ease;
						-moz-animation-delay: 0;
						-moz-animation-iteration-count: infinite;
						-moz-animation-direction: normal;
						-moz-animation-play-state: paused;
						-o-animation-name: animacaoSetaHome;
						-o-animation-duration: 1s;
						-o-animation-timing-function: ease;
						-o-animation-delay: 0;
						-o-animation-iteration-count: infinite;
						-o-animation-direction: normal;
						-o-animation-play-state: paused;
						animation-name: animacaoSetaHome;
						animation-duration: 1s;
						animation-timing-function: ease;
						animation-delay: 0;
						animation-iteration-count: infinite;
						animation-direction: normal;
						animation-play-state: paused;
						.imagem{
							width:70px;
							height:70px;
							background-color:#fff;
							float:left;
							margin-top:-14px;
							img{
								max-width:70px;
								max-height:70px;
								display:block;
								margin:0 auto;
							}
						}
						h3{
							padding:0 0 0 82px;
							.roboto(16px, bold);
							color:#fff;
							line-height:140%;
							.transition;
						}
						p{
							padding:0 0 0 82px;
							.calibri(13px);
							color:#fff;
							line-height:140%;
							.transition;
						}
						&:hover{
							-webkit-animation-play-state: running;
							-moz-animation-play-state: running;
							-o-animation-play-state: running;
							animation-play-state: running;
							h3, p{color:@amarelo;}
						}
					}
				}
			}
		}
	}
	#lista-novidades-horizontal {
		display: table;
		width: 100%;
		margin-top: 35px;
		a {
			display: table-cell;
			width: 33.33%;
			border: 1px solid #fff;
			border-right: none;
			padding: 10px;
			vertical-align: top;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				width: ~"calc(100% - 20px)";
				height: 1px;
				top: 10px;
				left: 10px;
				background: #fff;
			}
			&:last-child {
				border-right: 1px solid #fff;
			}
			.imagem {
				width:70px;
				height:70px;
				background-color:#fff;
				float:left;
				img{
					max-width:70px;
					max-height:70px;
					display:block;
					margin:0 auto;
				}
			}
			h3{
				margin-top: 15px;
				padding:0 60px 0 82px;
				.roboto(16px, bold);
				color:#fff;
				line-height:140%;
				background: url('../../images/layout/seta-branca.png') no-repeat right 3px;
				.transition;
			}
			p{
				padding:0 0 0 82px;
				.calibri(13px);
				color:#fff;
				line-height:140%;
				.transition;
			}
			&:hover {
				h3, p { color: @amarelo }
			}
		}
		@media (max-width: 980px) {
			display: block;
			a {
				display: block;
				min-height: 80px;
				width: ~"calc(100% - 22px)";
				border-bottom: none;
				border-right: 1px solid #fff;
				&:last-child {
					border-bottom: 1px solid #fff;
				}
			}
		}
	}
	.resposta{
		width:752px;
		margin:0 auto;
		text-align:center;
		.calibri(12px);
	}
	#form-newsletter{
		height:40px;
		background:@amarelo;
		.centralizar;
		width:752px;
		margin-bottom:30px;
		@media @mobile_e_tablet{
			min-height:80px;
			height:auto;
		}
		span{
			line-height:40px;
			color:@azul;
			.roboto(16px, bold);
			padding-left:10px;
		}
		form{
			.inline;
			margin-left:40px;
			padding-top:10px;
			@media @mobile_e_tablet{
				max-width:550px;
				margin-left:auto;
				display: block;
				margin-right:auto;
				padding-bottom:10px;
			}
			@media @mobile{
				text-align:center;
			}
			input[type="text"],
			input[type="email"]{
				.inline;
				border:0;
				margin:0;
				padding:2px 5px;
				background:@amarelo_claro;
				color:@azul;
				width:220px;
				height:16px;
				.placeholder(@azul);
				.calibri(12px);
			}
			input[type="submit"]{
				.inline;
				width:30px;
				height:20px;
				line-height:20px;
				text-align: center;
				background: @amarelo_claro;
				color:@azul;
				border:0;
				padding:0;
				margin:0;
				cursor:pointer;
				@media @mobile{
					display:block;
					margin:0 auto;
				}
				.roboto(14px, bold);
				.transition;
				&:hover{background-color:@azul;}
			}
		}
	}
}

@-webkit-keyframes animacaoSetaHome{
	0%{background-position:95% 90%;}
	25%{background-position:98% 90%;}
	50%{background-position:97% 90%;}
	75%{background-position:98% 90%;}
	100%{background-position:95% 90%;}
}
@-moz-keyframes animacaoSetaHome{
	0%{background-position:95% 90%;}
	25%{background-position:98% 90%;}
	50%{background-position:97% 90%;}
	75%{background-position:98% 90%;}
	100%{background-position:95% 90%;}
}
@-o-keyframes animacaoSetaHome{
	0%{background-position:95% 90%;}
	25%{background-position:98% 90%;}
	50%{background-position:97% 90%;}
	75%{background-position:98% 90%;}
	100%{background-position:95% 90%;}
}
@keyframes animacaoSetaHome{
	0%{background-position:95% 90%;}
	25%{background-position:98% 90%;}
	50%{background-position:97% 90%;}
	75%{background-position:98% 90%;}
	100%{background-position:95% 90%;}
}
