@mobile:    ~"(min-width: 0px) and (max-width: 639px)";
@tablet:    ~"(min-width: 640px) and (max-width: 979px)";
@desktop:   ~"(min-width: 980px)";

@mobile_e_tablet:  ~"(min-width: 0px) and (max-width: 979px)";
@tablet_e_desktop: ~"(min-width: 640px)";

@mobile-landscape:    ~"(min-width: 0px) and (max-width: 639px) and (orientation: landscape)";
@mobile-portrait:    ~"(min-width: 0px) and (max-width: 639px) and (orientation: portrait)";

@azul_claro:#BACEE5;
@azul_medio:#1A5DA6;
@azul:#007CC3;
@azul_form:#2790CC;

@verde:#A2CF6D;
@verde_medio:#63A728;
@verde_escuro:#3D8710;

@amarelo:#EDB900;
@amarelo_claro:#FBD800;

@largura:980px;

.centralizar(){
	@media @mobile{overflow: hidden;}
	@media @mobile-landscape{max-width:470px;}
	@media @mobile-portrait{max-width:310px;}
	@media @tablet{max-width:710px;}
	@media @desktop{max-width:980px;}
	width:100%;
	padding-left:0;
	padding-right:0;
	margin:0 auto;
}
.centro{.centralizar;}
.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}
.roboto(@fsize:12px, @fweight:normal){
	font-family: 'Roboto Condensed', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.calibri(@fsize:12px, @fweight:normal){
	font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.arredondada(@raio:10px){
	-webkit-border-radius:@raio;
	-moz-border-radius:@raio;
	-o-border-radius:@raio;
	border-radius:@raio;
	behavior:url('PIE.htc');
}
.transition(@prop:all, @dur:.3s, @type:ease-in){
	-webkit-transition:@prop @dur @type;
   -moz-transition:@prop @dur @type;
   -o-transition:@prop @dur @type;
   transition:@prop @dur @type;
}
.aviso{ color: #9F6000; background-color: #FEEFB3; border:2px #9F6000 solid; }
.sucesso{ border:2px #C6D880 solid; background-color:#E6EFC2; color:#264409; }
.falha{ border:2px #D8000C solid; color:#D8000C; background-color:#FFBABA; }

.offscreen{
	display:block;
	text-indent:-999999999px;
}

.align-right{
	text-align:right;
}

.absolute(@x:0, @y:0){
	position:absolute;
	left:@x;
	top:@y;
}

.centro{ .centralizar; }
.clear{ clear: both; }

.placeholder(@cor:#000){
	&::-webkit-input-placeholder{ color:@cor; }
	&:-moz-placeholder{ color:@cor; }
	&::-moz-placeholder { color:@cor; }
	&:-ms-input-placeholder { color: @cor; }
}
