@import 'vars.less';

// .pure-g [class *= "pure-u"],
// .pure-g-r [class *= "pure-u"] {
//     font-family: 'hff_low_sunregular', Georgia, Times, "Times New Roman", serif;
// }
.pure-g, .pure-g-r {
  font-family: Arial;
}
.pure-u, .pure-u-1,.pure-u-1-2,.pure-u-1-3,.pure-u-2-3,.pure-u-1-4,.pure-u-3-4,.pure-u-1-5,.pure-u-2-5,.pure-u-3-5,.pure-u-4-5,.pure-u-1-6,.pure-u-5-6,.pure-u-1-8,.pure-u-3-8,.pure-u-5-8,.pure-u-7-8,.pure-u-1-12,.pure-u-5-12,.pure-u-7-12,.pure-u-11-12,.pure-u-1-24,.pure-u-5-24,.pure-u-7-24,.pure-u-11-24,.pure-u-13-24,.pure-u-17-24,.pure-u-19-24,.pure-u-23-24 {
  font-family: sans-serif
}  

iframe[name='google_conversion_frame'] { 
    height: 0 !important;
    width: 0 !important; 
    line-height: 0 !important; 
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}

body{
	.centro{
		width:100%;
		max-width:1200px;
		margin:0 auto;
		header{
			z-index:1;
			position:relative;
			@media only screen and (min-width: 1200px){
				background:transparent;
				#link-logo{
					text-align:right;
					padding:40px 0 0 0;
				}
			}
			@media only screen and (min-width: 980px) and (max-width: 1199px) {
				background:transparent;
				#link-logo{
					text-align:right;
					padding:40px 0 0 0;
				}
			}
			@media only screen and (min-width: 700px) and (max-width: 979px) {
				background:#2D2D2D;
				height:170px;
				#link-logo{
					padding:15% 0 0 10%;
					a{
						display: block;
						img{
							max-width:100%;
						}
					}
				}
			}
			@media only screen and (min-width: 0px) and (max-width: 699px) {
				background:#2D2D2D;
				min-height:100px;
				#link-logo{
					padding:18% 0 0 8%;
					a{
						display: block;
						img{
							max-width:100%;
						}
					}
				}
			}
			nav{
				#mostrar-menu{
					@media only screen and (min-width: 700px){
						display:none;
					}
					@media only screen and (min-width: 0px) and (max-width: 699px) {
						.hff(19px);
						color:#fff;
						display:block;
						width:60px;
						background:url('../../images/consumidor/layout/marcador-menu.png') 25px 60px no-repeat;
						background-size: 70px 6px;
						padding:19px 7px 0 25px;
						height:26px;
						line-height:26px;
						.transition;
						&:active, &:visited{color:#fff;}
						&:hover, &.ativo{
							color:@azul_menu;
							background-position:20px 40px;
						}
					}
				}
				@media only screen and (min-width: 980px){
					height:204px;
					background:url('../../images/consumidor/layout/splash-home.png') left top no-repeat;
				}
				ul{
					@media only screen and (min-width: 0px) and (max-width: 699px) {
						.transition;
						opacity:0;
						display:none;
						&.shown{ opacity:1; display:block; }
					}
					&.superior{
						list-style:none;
						@media only screen and (min-width: 1200px){
							padding:40px 0 0 10%;
							li{
								text-align:center;
							}
						}
						@media only screen and (min-width: 980px) and (max-width: 1199px) {
							padding:40px 0 0 10%;
							li{
								text-align:center;
							}
						}
						@media only screen and (min-width: 980px){
							max-width:600px;
						}
						@media only screen and (min-width: 700px) and (max-width: 979px) {
							width:40%;
							padding:5% 0 0 0;
							.inline;
							.item-menu-sup{
								width:100%;
								display:block;
							}
							li{
								padding-left:15%;
								text-align:left;
								a{
									text-align:left;
								}
							}
						}
						@media only screen and (min-width: 0px) and (max-width: 699px) {
							width:80%;
							padding:0 0 0 8%;
							.item-menu-sup{
								width:100%;
								display:block;
							}
							li{
								text-align:left;
								a{
									text-align:left;
								}
							}
						}
						li{
							.inline;
							a{
								.hff(14px);
								color:#fff;
								background:url('../../images/consumidor/layout/marcador-menu.png') center 30px no-repeat;
								background-size: 100% 6px;
								.inline;
								padding:0 12px;
								height:26px;
								display:block;
								line-height:26px;
								.transition;
								&:active, &:visited{color:#fff;}
								&:hover, &.ativo{
									color:@azul_menu;
									background-position:center 20px;
								}
							}
						}
					}
					&.inferior{
						li{
							text-align:center;
							a.mn{
								color:#fff;
								background:url('../../images/consumidor/layout/marcador-menu.png') center 30px no-repeat;
								background-size: 100% 6px;
								.inline;
								padding:0 7px;
								height:26px;
								line-height:26px;
								.transition;
								&:active, &:visited{color:#fff;}
								&:hover, &.ativo{
									color:@azul_menu;
									background-position:center 20px;
								}
							}
							&.social{
								text-align:right;
								.pad{
									padding-left:20%;									
								}
								a{
									text-align:left;
									padding:0;
									text-indent:-999px;
									overflow:hidden;
									background-size: 100% auto;
									.transition(all .1s ease-in);
									&.link-yt{background:url('../../images/consumidor/layout/icone-youtube.png?a=1') center center no-repeat;}
									&.link-fb{background:url('../../images/consumidor/layout/icone-facebook.png?a=1') center center no-repeat;}
									&.link-ig{background:url('../../images/consumidor/layout/icone-instagram.png?a=1') center center no-repeat;}
									&.link-tw{background:url('../../images/consumidor/layout/icone-twitter.png?a=1') center center no-repeat;}
									&.link-pt{background:url('../../images/consumidor/layout/icone-pinterest.png?a=1') center center no-repeat;}
									&.link-gp{background:url('../../images/consumidor/layout/icone-googleplus.png?a=4') center center no-repeat;}
									&:hover{
										margin-top: -2px;
									}
								}
							}
						}
						@media only screen and (min-width: 1200px){
							padding:6px 7% 0 7%;
							li a{ .hff(18px); }
						}
						@media only screen and (min-width: 980px) and (max-width: 1199px) {
							padding:6px 0 0 7%;
							li a{ .hff(15px); }
						}
						@media only screen and (min-width: 700px) and (max-width: 979px) {
							width:40%;
							padding:5% 0 0 0;
							.inline;
							[class *="pure-u"]{
								width:100%;
								display:block;
							}
							position:relative;
							li{
								text-align:left;
								a{
									.hff(15px);
								}
								&.social{
									width:40px;
									text-align:center;
									position:absolute;
									top:23px;
									right:-47px;
									.pad{
										padding-left:0;									
									}
									a{
										margin:3px 0;
										display:block;
										text-align:left;
										padding:0;
										text-indent:-999px;
										overflow:hidden;
										background-size: 100% auto;
										.transition(all .1s ease-in);
										&.link-fb{background:url('../../images/consumidor/layout/icone-facebook.png') center center no-repeat;}
										&.link-ig{background:url('../../images/consumidor/layout/icone-instagram.png') center center no-repeat;}
										&.link-tw{background:url('../../images/consumidor/layout/icone-twitter.png') center center no-repeat;}
										&.link-pt{background:url('../../images/consumidor/layout/icone-pinterest.png') center center no-repeat;}
										&:hover{
											margin-top: 3px;
										}
									}
								}
							}
						}
						@media only screen and (min-width: 0px) and (max-width: 699px) {
							width:80%;
							padding:0 0 10% 8%;
							[class *="pure-u"]{
								width:100%;
								display:block;
							}
							position:relative;
							li{
								text-align:left;								
								&.social{
									width:40px;
									text-align:center;
									position:absolute;
									top:-98px;
									right:-25px;
									.pad{
										padding-left:0;									
									}
									a{
										margin:3px 0;
										display:block;
										text-align:left;
										padding:0;
										text-indent:-999px;
										overflow:hidden;
										background-size: 100% auto;
										.transition(all .1s ease-in);
										&.link-fb{background:url('../../images/consumidor/layout/icone-facebook.png') center center no-repeat;}
										&.link-ig{background:url('../../images/consumidor/layout/icone-instagram.png') center center no-repeat;}
										&.link-tw{background:url('../../images/consumidor/layout/icone-twitter.png') center center no-repeat;}
										&.link-pt{background:url('../../images/consumidor/layout/icone-pinterest.png') center center no-repeat;}
										&:hover{
											margin-top: 3px;
										}
									}
								}
							}
						}
						@media only screen and (min-width: 321px) and (max-width: 699px) {
							a{ .hff(17px); white-space:nowrap;}
						}
						@media only screen and (min-width: 0px) and (max-width: 320px) {
							a{ .hff(15px); white-space:nowrap; }
						}
					}
				}
			}
		}
	}
	.main{
		padding-bottom:50px;		
	}
	footer{
		border-bottom:5px @azul solid;
		position:relative;
		background: #fff;
		@media only screen and (min-width: 700px){
			height:175px;
		}
		@media only screen and (min-width: 321px) and (max-width: 699px) {
			height:190px;
		}
		@media only screen and (min-width: 0px) and (max-width: 320px) {
			height:205px;
		}
		clear:both;
		z-index:1;
		&:after{
			background:@verde;
			height:5px;
			width:100%;
			content:"";
			display:block;
			clear:both;
			position:absolute;
			bottom:0;
			left:0;
		}
		.links-grupo{
			background:@azul_medio;
			color:#fff;
			@media only screen and (min-width: 700px){
				width:640px;
			}
			@media only screen and (min-width: 0px) and (max-width: 699px) {
				width:320px;
				a{
					width:50%;
					margin:10px 0;
				}
				.pure-u-1{
					width:60%;
					margin:0 auto;
					display:block;
				}
			}			
			margin:0 auto 0 auto;
			text-align:center;
			padding:5px 0 8px 0;
			position:relative;
			top:-30px;
			z-index:3;
			.verdana(10px);
			.arredondada(10px);
			span{
				padding:2px 0 10px 0;
				display:block;
				line-height:100%;
			}
			a{
				text-indent:-5000px;
				overflow:hidden;
				.inline;
				width:159px;
				&.link-bignardi{
					height:30px;
					background:url('../../images/layout/icone-bignardi-hover.png') center top no-repeat;
					&:hover{background:url('../../images/layout/icone-bignardi-hover.png') center -31px no-repeat;}
				}
				&.link-bignardi-papeis{
					height:30px;
					background:url('../../images/layout/icone-bignardi-papeis-hover.png') center top no-repeat;
					&:hover{background:url('../../images/layout/icone-bignardi-papeis-hover.png') center -31px no-repeat;}
				}
				&.link-jandaia{
					height:38px;
					background:url('../../images/layout/marca-jandaia-representantes-hover.png') center top no-repeat;
					&:hover{background:url('../../images/layout/marca-jandaia-representantes-hover.png') center -41px no-repeat;}
				}
				&.link-jandaia-cadernos{
					height:38px;
					background:url('../../images/layout/marca-jandaia-cadernos-hover.png') center top no-repeat;
					&:hover{background:url('../../images/layout/marca-jandaia-cadernos-hover.png') center -38px no-repeat;}
				}
			}			
		}
		.assinatura{
			text-align:center;
			color:@azul_medio;
			.calibri(11px);
			a{
				border-bottom:1px #fff dotted;
				color:@azul_medio;
				.transition;
				&:active, &:visited{color:@azul_medio;}
				&:hover{border-bottom:1px @azul_medio dotted;}
			}
		}
	}
}

.esconder-tablet{
	@media only screen and (min-width: 0px) and (max-width: 979px) {
		display:none;
	}
}