@import 'vars.less';

.main{
	padding-bottom:290px !important;
	.centro{
		h1{
			margin-bottom:10px;
			.kgten(35px);
			color:@verde_bright;
			span{
				.calibri(14px);
				padding-left:15px;
			}
		}
		h2{
			margin-top:20px;
			.hff(13px);
			color:@verde_bright;
			span{
				border-bottom:1px @verde_bright solid;
				padding-bottom:3px;				
			}
		}
		.posts{
			.grid{
				a.post-thumb{
					.transition;
					&:active, &:visited{}
					&:hover{}
					margin-bottom:20px;
					.pad{
						margin:0 auto;
						max-width:304px;
						padding:5% 0;
						.imagem{
							position:relative;
							img{
								display:block;
								margin:0 auto;
								max-width:300px;
								width:100%;
								border:1px @verde_bright solid;
							}
							.data{
								width:150px;
								height:50px;
								position:absolute;
								top:10px;
								left:-19px;
								background:url('../../images/consumidor/layout/fita-verde-data.png') left top no-repeat;
								color:#373435;
								.hff(19px);
								text-align:center;
							}
						}
						.titulo{
							.kgten(16px);
							color:@verde_bright;
							margin-top:10px;
						}
						.num_comentarios{
							color:#fff;
							.hff(15px);
							margin:10px 0;
							padding-left:30px;
							background:url('../../images/consumidor/layout/fiquepordentro-seta-branca.png') left center no-repeat;
						}
						.compartilhe{
							background:url('../../images/consumidor/layout/que-tal-compartilhar.png') 50% center no-repeat;
							padding-left:60%;
							color:#00FFFF;
							.hff(20px);
							line-height:120%;
						}
					}
					&:nth-child(3n+2){ .pad{ padding:5% 10%; }}
				}
			}
			#ver-mais-posts{
				display:block;
				text-align:center;
				color:#fff;
				.kgten(20px);
				.transition;
				&:active, &:visited{color:#fff;}
				&:hover{color:#00FFFF;}
			}
		}
		.detalhe{
			.fb-comments{background-color:#fff;}
			.fb-comments, .fb-comments span, .fb-comments iframe { width: 100% !important; }
			.detalhe-post{
				position: relative;
				.data{
					height:30px;
					color:#FFF;
					margin-top:3px;
					margin-bottom: 5px;
					.hff(19px);
				}
				.titulo{
					position:absolute;
					top:35px;
					left:0;
					background-color: @verde_bright;
					color:#373435;
					.kgten(20px);
					line-height:140%;
					padding:4%;
					width:92%;
					.arredondada(0 30px 0 30px);
				}
				.img-principal{
					.arredondada(0 30px 0 0);
					width:96%;
					margin-left:4%;
				}
				.content{
					padding-left:4%;
					p{
						color:#fff;
						.calibri(16px);
						line-height:150%;
						margin:10px 0;					
					}
					img{
						max-width:100%;
						display:block;
						margin:10px auto;
					}
				}
				.likes{
					padding:40px 0;
				}
				.nav{
					border-top:2px @verde_bright solid;
					padding:15px 0;
					height:30px;
					a{
						&.next{
							float:right;
							padding-right:28px;
							background:url('../../images/consumidor/layout/seta-proximopost.png') right center no-repeat;
						}
						&.prev{
							float:left;
							padding-left:28px;
							background:url('../../images/consumidor/layout/seta-postanterior.png') left center no-repeat;
						}
						min-height:11px;
						color:@verde_bright;
						.hff(16px);
						.transition;
						&:active, &:visited{color:@verde_bright;}
						&:hover{color:#fff;}
					}
				}
			}
			.lateral-post{
				.pad{
					padding-left:30px;
					padding-top:50px;
					aside.categorias{
						color:@verde_bright;
						.hff(14px);
						ul{
							border-top:1px @verde_bright solid;
							padding:6px 0;
							li{
								list-style:inside square;
								color:@verde_bright;
								a{
									color:@verde_bright;
									.transition;
									&:active, &:visited{color:@verde_bright;}
									&:hover{color:#fff;}
								}
							}
						}
					}
					#fb-comments{
						margin-top:60px;
					}
				}
			}
		}
	}
}