@import 'vars.less';

body{
	.main{
		background:url('../../images/consumidor/layout/bg-lousa.jpg');
		#slides{
			@media only screen and (min-width: 980px) {
				height:610px;
				position:absolute;
				top:0;
				left:0;			
				z-index:0;
				a{
					background-size: auto auto;
					height:610px;					
				}
			}
			@media only screen and (min-width: 700px) and (max-width: 979px){
				height:435px;
				position:relative;
				z-index:0;
				a{
					background-size: auto 100%;
					height:435px;
				}
			}
			@media only screen and (min-width: 0px) and (max-width: 699px){
				height:250px;
				position:relative;
				z-index:0;
				a{
					background-size: auto 100%;
					height:250px;
				}
			}
			width:100%;
			a{
				text-indent:-9999px;
				position:absolute;
				top:0;
				left:0;
				background-repeat:no-repeat;
				background-position: center top;
				display:block;
				width:100%;
			}
		}
		#carrossel{
			width:100%;
			background-color:#fff;
			position:relative;
			min-height:195px;
			@media only screen and (min-width: 980px) {
				margin-top:406px;
			}
			.centro{
				width:100%;
				max-width:1200px;
				overflow:hidden;
				position:relative;
				min-height:195px;
				.pure-g{
					display:none;
					&.show{
						display:block;
					}
				}
				a{
					&:active, &:visited{}
					&:hover{
						.thumb{
							img{
								opacity:.6;
							}
						}
					}
					.thumb{
						padding:10%;
						overflow:hidden;
						img{
							.transition;
							opacity:1;
							max-width: 100%;
							max-height:162px;
						}
					}
					&.pure-u-1-8{
						@media only screen and (min-width: 700px) and (max-width: 979px){
							&:nth-child(2n+1){display:none;width:0;}
							&:nth-child(2n){width:24.99%;}
						}
						@media only screen and (min-width: 0px) and (max-width: 699px){
							&:nth-child(2n+1){display:none;width:0;}
							&:nth-child(2n){width:24.99%;}
						}
					}
				}
			}
		}
		.centro{
			width:100%;
			max-width: 1200px;
			.chamada-produtos{
				padding: 4% 8%;
				ul{
					list-style: none;
					@media only screen and (min-width: 1200px) {
						background:url('../../images/consumidor/layout/caderno-completo.png') center center no-repeat;
						padding:10% 0 0 0;
						min-height:240px;
						background-size:100% auto;
					}
					@media only screen and (min-width: 980px) and (max-width: 1199px) {
						background:url('../../images/consumidor/layout/caderno-completo.png') center center no-repeat;
						padding:18% 0 0 0;
						min-height:240px;
						background-size:100% auto;
					}
					@media only screen and (min-width: 700px) and (max-width: 979px) {
						background:url('../../images/consumidor/layout/caderno-completo.png') left center no-repeat;
						padding:0 0 0 0;
						min-height:305px;
						background-size:auto 100%;
					}
					@media only screen and (min-width: 0px) and (max-width: 699px) {
						background:url('../../images/consumidor/layout/caderno-completo-2.png') left center no-repeat;
						padding:0 0 0 0;
						min-height:300px;						
					}
					@media only screen and (min-width: 321px) and (max-width: 699px) {
						background-size:auto 100%;
					}
					@media only screen and (min-width: 0px) and (max-width: 320px) {
						background-size:100% auto;
					}
					li{
						a{
							line-height:140%;
							color:@azul_medio;
							.transition;
							&:active, &:visited{color:@azul_medio;}
							&:hover{
								color:@verde_escuro;
							}
							@media only screen and (min-width: 1200px) {
								.hff(26px);
								padding-left:7%;
							}
							@media only screen and (min-width: 980px) and (max-width: 1199px) {
								.hff(20px);
								padding-left:7%;
							}
							@media only screen and (min-width: 700px) and (max-width: 979px) {
								.hff(22px);
								padding-left:16%;
							}
							@media only screen and (min-width: 321px) and (max-width: 699px) {
								.hff(25px);
								padding-left:14%;
							}
							@media only screen and (min-width: 0px) and (max-width: 320px) {
								.hff(23px);
								padding-left:10%;
							}
						}
						@media only screen and (min-width: 700px) and (max-width: 979px) {
							&:first-child{
								padding-top:10%;
							}
						}
						@media only screen and (min-width: 321px) and (max-width: 699px) {
							&:first-child{
								padding-top:16%;
							}
						}
						@media only screen and (min-width: 0px) and (max-width: 320px) {
							&:first-child{
								padding-top:24%;
							}
						}
					}
				}
			}
			.chamada-concurso{
				@media only screen and (min-width: 700px) and (max-width: 979px) {
					a{
						width:80%;
						display:block;
						margin:0 auto;
						img{
							max-width: 100%;
						}
					}
				}
				@media only screen and (min-width: 0px) and (max-width: 699px) {
					a{
						width:94%;
						display:block;
						margin:0 auto;
						img{
							max-width: 100%;
						}
					}	
				}
			}
			.chamada-noticias{
				@media only screen and (min-width: 980px){
					padding:7% 0 4% 8%;
				}
				@media only screen and (min-width: 0px) and (max-width: 979px) {
					padding:7% 8% 4% 8%;
				}
				.padding-noticias{
					background:url('../../images/consumidor/layout/fiquepordentro-faixasuperior.png') left top no-repeat;
					background-size: 100% 32px;
					a.link-topo{
						color:@verde_bright;
						padding-top:10px;
						display:block;
						.transition;
						&:active, &:visited{ color:@verde_bright; }
						&:hover{
							color:@azul_menu;
						}
						@media only screen and (min-width: 1200px){
							background:url('../../images/consumidor/layout/fiquepordentro-desenho.png') 95% center no-repeat;
						}
						@media only screen and (min-width: 700px) and (max-width: 979px) {
							background:url('../../images/consumidor/layout/fiquepordentro-desenho.png') 95% center no-repeat;	
						}
						span{
							padding-left:1%;
							padding-top:5%;
							.kgten(26px);
						}
						p{
							.verdana(10px);
							padding-right:45%;
							line-height:140%;
							min-height:83px;
						}
					}
					ul{
						padding-bottom:29px;
						background:url('../../images/consumidor/layout/fiquepordentro-faixainferior.png') left bottom no-repeat;
						background-size: 100% 29px;
						li{
							margin:30px 0;
							a{
								.transition;
								background:url('../../images/consumidor/layout/fiquepordentro-seta.png') right bottom no-repeat;
								img{
									.transition;
									-moz-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
									-webkit-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
									-o-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
									-ms-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
									transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
									border:5px @verde_bright solid;
									max-width:85%;
								}
								p{
									.transition;
									padding:2% 0;
									line-height:150%;
									color:@verde_bright;
									.kgten(18px);
								}
								&:hover{
									background:url('../../images/consumidor/layout/fiquepordentro-seta-azul.png') right bottom no-repeat;
									img{
										border-color:@azul_menu;
									}
									p{
										color:@azul_menu;
									}
								}
							}
						}
					}		
				}
			}
		}
		.chamada-temas{
			h1{
				color:#fff;
				.kgten(24px);
				@media only screen and (min-width: 1200px){				
					padding:4px 0;
				}
				@media only screen and (min-width: 980px) and (max-width: 1199px) {
					padding:20px 0 0 0;
				}
			}
			.link-temas{
				padding:5% 7%;
				position:relative;
				&:hover{
					.botoes{ opacity:1; }
				}
				img{
					max-width:100%;
					position:relative;
					z-index:0;
				}
				.botoes{
					.transition;
					opacity:0;
					position:absolute;
					top:0;
					left:0;
					width:100%;
					height: 100%;
					z-index:2;
					text-align:center;
					a{
						&:first-child{
							margin-top:20%;
						}
						background-color:@azul_medio;
						color:#fff;
						text-align:center;
						margin:2px auto;
						display:block;
						width:45%;
						padding:2px 10px;
						.verdana(10px, bold);
						.transition;
						&:active, &:visited{color:#fff;}
						&:hover{color:@verde;}
					}
				}
			}
			.box-lista{
				padding:4%;
				span{
					color:#fff;
					.kgten(19px);
				}
				ul{
					//list-style-image:url('../../images/consumidor/layout/es')
					list-style:none;
					li{
						a{
							line-height:120%;
							.kgten(13px);
							.transition;
							color:#fff;
							&:active, &:visited{
								color:#fff;
							}
							&:hover{
								color:@azul;
							}
						}
					}
				}
			}
		}
	}
}