@import 'vars.less';

@amarelo:#FDFD64;
@laranja:#FF9933;
.main{
	.centro{
		max-width:1200px;
		width:100%;
		margin:0 auto;
		padding-bottom: 60px;
		h1{
			color:@amarelo;
			margin-bottom:10px;
			.kgten(35px);
			padding-left:4%;
			span{
				padding-left:20px;
				.calibri(16px);
			}
			&.laranja{
				color:@laranja;
				padding-left:0;
				font-size:30px;
				margin-top:60px;
			}
		}
		.botao-laranja{
			.inline;
			.transition;
			background:@laranja;
			color:#333;
			padding:0 30px;
			height:40px;
			line-height:46px;
			.kgten(18px);
			&:active, &:visited{color:#333;}
			&:hover{
				background:@amarelo;
			}
		}
		.grid-encontrar{
			.form{
				.pad{
					padding-left:10%;
					padding-top:30px;
				}
				form{
					label{
						.hff(16px);
						display:block;
						color:@amarelo;
						margin-bottom:15px;
						input[type="text"]{
							color:#373435;
							border:0;
							margin:3px 0 7px 0;
							padding:2px 5% 6px 5%;
							width:90%;
							background:@amarelo;
							.calibri(18px);							
							.placeholder(#373435);
						}
						select{
							color:#373435;
							border:0;
							margin:3px 0 7px 0;
							padding:2px 5% 6px 5%;
							width:100%;
							display: block;
							background:@amarelo;
							.calibri(18px);							
						}
					}
					input[type="submit"]{
						.kgten(20px);
						color:#373435;
						border:0;
						margin:25px 0;
						padding:0;
						width:155px;
						height:40px;
						display:block;
						cursor:pointer;
						line-height:46px;
						background:@amarelo;
						.transition;
						&:active, &:visited{color:#373435;}
						&:hover{background-color:@verde_bright;}
					}
				}
			}
			.ilustracoes{
				.pad{
					padding-left:20%;
					padding-top:30px;
					.ilust1{
						max-width:100%;
						img{
							max-width:100%;
						}
					}
					h2{
						color:#fff;
						.kgten(20px);
						&.laranja{
							color:@laranja;
							margin-bottom: 15px;
						}
					}
					.listaLojasVirtuais{
						.internalPad{
							a{
								max-width:252;
								margin-bottom:30px;
								.inline;
								.transition;
								&:active, &:visited{}
								&:hover{
									.imagem{border-color:@amarelo;}
									h2{color:@amarelo;}
								}
								.imagem{
									.transition;
									padding:20px;
									background:#fff;
									border:1px @laranja solid;
									margin-bottom:10px;
									img{
										display:block;
										margin:0 auto;
										max-width: 210px;
									}
								}
								h2{
									.transition;
									line-height: 100%;
									color:@laranja;
									.calibri(18px);
								}
							}
						}
					}
					h3{
						color:@amarelo;
						.kgten(15px);
						margin:20px 0;
					}
					ul{
						list-style:none;
						margin:20px 0;
						li{
							width:85%;
							padding:20px 0;
							border-bottom:1px @amarelo solid;
							p{
								color:#fff;
								.calibri(16px);
							}
						}						
					}
				}
			}
		}
	}
}