.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.w980 {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}
body {
  background: url('../../images/consumidor/layout/bg-lousa.jpg');
}
@media only screen and (min-width: 980px) {
  body nav {
    background-image: url('../../images/consumidor/layout/splash-internas.png') !important;
  }
}
body .main-jandaia .centro {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
body .main-jandaia .centro #produtos-jandaia img {
  width: 80%;
  display: block;
  margin: 20px auto;
}
body .main-jandaia .centro h1 {
  color: #fff;
  line-height: 100%;
  margin: 15px 0 30px 0;
  text-align: center;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 24px;
  font-weight: normal;
}
@media only screen and (min-width: 0px) and (max-width: 699px) {
  body .main-jandaia .centro .timeline .pure-u-1-4 {
    width: 50% !important;
  }
}
body .main-jandaia .centro .timeline .pure-u-1-4 .pad {
  color: #fff;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  line-height: 160%;
}
@media only screen and (min-width: 769px) {
  body .main-jandaia .centro .timeline .pure-u-1-4 .pad {
    padding: 15%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 768px) {
  body .main-jandaia .centro .timeline .pure-u-1-4 .pad {
    padding: 3%;
  }
}
body .main-jandaia .centro .timeline .pure-u-1-4 .pad img {
  display: block;
  margin: 0 auto 5px auto;
}
@media only screen and (min-width: 769px) {
  body .main-jandaia .centro .timeline .pure-u-1-4 .pad img {
    width: 100%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 768px) {
  body .main-jandaia .centro .timeline .pure-u-1-4 .pad img {
    width: 70%;
  }
}
body .main-produtos .centro {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}
@media only screen and (min-width: 769px) {
  body .main-produtos .centro section.recuo-top {
    margin-top: -35px;
  }
}
body .main-produtos .centro .titulo {
  color: #ccff66;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 15px;
  font-weight: normal;
}
@media only screen and (min-width: 0px) and (max-width: 979px) {
  body .main-produtos .centro .titulo .pad {
    padding-left: 5%;
  }
  body .main-produtos .centro .titulo.padl {
    padding-left: 2.5%;
  }
}
body .main-produtos .centro ul.lista-tipos {
  padding: 15px 0;
  list-style: none;
}
@media only screen and (min-width: 0px) and (max-width: 979px) {
  body .main-produtos .centro ul.lista-tipos {
    padding-left: 5%;
  }
}
body .main-produtos .centro ul.lista-tipos li {
  margin: 2px 0;
}
body .main-produtos .centro ul.lista-tipos li a {
  width: 100%;
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-size: 0;
}
body .main-produtos .centro ul.lista-tipos li a:hover .titulo .pad {
  color: #a2cf6d;
}
body .main-produtos .centro ul.lista-tipos li a .imagem {
  width: 40%;
  max-width: 88px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body .main-produtos .centro ul.lista-tipos li a .imagem img {
  width: 100%;
}
body .main-produtos .centro ul.lista-tipos li a .titulo {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 60%;
  padding-top: 35px;
  line-height: 130%;
}
body .main-produtos .centro ul.lista-tipos li a .titulo .pad {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding-left: 5%;
  font-family: 'hff_low_sunregular', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 15px;
  font-weight: normal;
}
body .main-produtos .centro ul.lista-tipos li a.mn-cadernos .titulo {
  color: #00CCFF;
}
body .main-produtos .centro ul.lista-tipos li a.mn-cadernos:active .titulo,
body .main-produtos .centro ul.lista-tipos li a.mn-cadernos:visited .titulo {
  color: #00CCFF;
}
body .main-produtos .centro ul.lista-tipos li a.mn-agendas .titulo {
  color: #33CC99;
}
body .main-produtos .centro ul.lista-tipos li a.mn-agendas:active .titulo,
body .main-produtos .centro ul.lista-tipos li a.mn-agendas:visited .titulo {
  color: #33CC99;
}
body .main-produtos .centro ul.lista-tipos li a.mn-gifts .titulo {
  color: #FFAC1F;
}
body .main-produtos .centro ul.lista-tipos li a.mn-gifts:active .titulo,
body .main-produtos .centro ul.lista-tipos li a.mn-gifts:visited .titulo {
  color: #FFAC1F;
}
body .main-produtos .centro ul.lista-tipos li a.mn-bolsas-e-ficharios .titulo {
  color: #EA3A00;
}
body .main-produtos .centro ul.lista-tipos li a.mn-bolsas-e-ficharios:active .titulo,
body .main-produtos .centro ul.lista-tipos li a.mn-bolsas-e-ficharios:visited .titulo {
  color: #EA3A00;
}
body .main-produtos .centro ul.lista-tipos li a.mn-papeis-e-escritorios .titulo {
  color: #FF3399;
}
body .main-produtos .centro ul.lista-tipos li a.mn-papeis-e-escritorios:active .titulo,
body .main-produtos .centro ul.lista-tipos li a.mn-papeis-e-escritorios:visited .titulo {
  color: #FF3399;
}
body .main-produtos .centro ul.lista-linhas {
  list-style: none;
}
@media only screen and (min-width: 0px) and (max-width: 979px) {
  body .main-produtos .centro ul.lista-linhas {
    padding-left: 5%;
  }
}
@media only screen and (min-width: 980px) {
  body .main-produtos .centro ul.lista-linhas li {
    margin: 4px 0;
  }
}
body .main-produtos .centro ul.lista-linhas li a {
  line-height: 160%;
  color: #fff;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main-produtos .centro ul.lista-linhas li a:active,
body .main-produtos .centro ul.lista-linhas li a:visited {
  color: #fff;
}
body .main-produtos .centro ul.lista-linhas li a:hover {
  color: #ccff66;
}
body .main-produtos .centro ul.lista-linhas li a.visualizar-por-linha {
  margin-top: 10px;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
@media only screen and (min-width: 0px) and (max-width: 979px) {
  body .main-produtos .centro ul.lista-linhas {
    display: none;
  }
  body .main-produtos .centro ul.lista-linhas.amostra {
    display: block;
  }
}
body .main-produtos .centro #seleciona-tipo {
  padding-bottom: 10px;
}
@media only screen and (min-width: 769px) and (max-width: 979px) {
  body .main-produtos .centro #seleciona-tipo {
    padding-top: 15px;
  }
}
body .main-produtos .centro #seleciona-tipo a img {
  display: block;
  margin: auto;
}
body .main-produtos .centro #seleciona-tipo a.selecionado {
  width: 100%;
  max-width: 250px;
  min-height: 97px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
@media only screen and (min-width: 0px) and (max-width: 768px) {
  body .main-produtos .centro #seleciona-tipo a.selecionado.mn-linha {
    min-height: 40px;
  }
}
body .main-produtos .centro #seleciona-tipo a.selecionado .titulo .pad {
  padding-top: 17%;
  line-height: 160%;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif !important;
  font-size: 15px !important;
  font-weight: normal !important;
}
body .main-produtos .centro #seleciona-tipo a.selecionado .titulo.pure-u-1 .pad {
  padding-top: 8%;
}
body .main-produtos .centro #seleciona-tipo a.alterar-tipo {
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 13px;
  font-weight: normal;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body .main-produtos .centro #seleciona-tipo a.alterar-tipo:active,
body .main-produtos .centro #seleciona-tipo a.alterar-tipo:visited {
  color: #fff;
}
body .main-produtos .centro #seleciona-tipo a.alterar-tipo:hover {
  color: #a2cf6d;
}
@media only screen and (min-width: 701px) {
  body .main-produtos .centro #seleciona-tipo a.alterar-tipo {
    padding-top: 3.5%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 700px) {
  body .main-produtos .centro #seleciona-tipo a.alterar-tipo {
    padding-top: 5%;
  }
}
body .main-produtos .centro #seleciona-tipo a.ver-linha-completa {
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 13px;
  font-weight: normal;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body .main-produtos .centro #seleciona-tipo a.ver-linha-completa:active,
body .main-produtos .centro #seleciona-tipo a.ver-linha-completa:visited {
  color: #fff;
}
body .main-produtos .centro #seleciona-tipo a.ver-linha-completa:hover {
  color: #a2cf6d;
}
@media only screen and (min-width: 701px) {
  body .main-produtos .centro #seleciona-tipo a.ver-linha-completa {
    padding-top: 3.5%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 700px) {
  body .main-produtos .centro #seleciona-tipo a.ver-linha-completa {
    padding-top: 5%;
  }
}
body .main-produtos .centro #seleciona-tipo a:hover .titulo .pad {
  color: #a2cf6d;
}
body .main-produtos .centro #seleciona-tipo a .titulo {
  padding-top: 8px;
  line-height: 130%;
}
body .main-produtos .centro #seleciona-tipo a .pad {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding-top: 8%;
  padding-left: 5%;
  font-family: 'hff_low_sunregular', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 15px;
  font-weight: normal;
}
body .main-produtos .centro #seleciona-tipo a.mn-cadernos .pad {
  color: #FFF;
}
body .main-produtos .centro #seleciona-tipo a.mn-cadernos:active .pad,
body .main-produtos .centro #seleciona-tipo a.mn-cadernos:visited .pad {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #FFF;
}
body .main-produtos .centro #seleciona-tipo a.mn-cadernos:hover .pad,
body .main-produtos .centro #seleciona-tipo a.mn-cadernos.selecionado .pad {
  color: #00CCFF;
}
body .main-produtos .centro #seleciona-tipo a.mn-agendas .pad {
  color: #FFF;
}
body .main-produtos .centro #seleciona-tipo a.mn-agendas:active .pad,
body .main-produtos .centro #seleciona-tipo a.mn-agendas:visited .pad {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #FFF;
}
body .main-produtos .centro #seleciona-tipo a.mn-agendas:hover .pad,
body .main-produtos .centro #seleciona-tipo a.mn-agendas.selecionado .pad {
  color: #33CC99;
}
body .main-produtos .centro #seleciona-tipo a.mn-gifts .pad {
  color: #FFF;
}
body .main-produtos .centro #seleciona-tipo a.mn-gifts:active .pad,
body .main-produtos .centro #seleciona-tipo a.mn-gifts:visited .pad {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #FFF;
}
body .main-produtos .centro #seleciona-tipo a.mn-gifts:hover .pad,
body .main-produtos .centro #seleciona-tipo a.mn-gifts.selecionado .pad {
  color: #FFAC1F;
}
body .main-produtos .centro #seleciona-tipo a.mn-bolsas-e-ficharios .pad {
  color: #FFF;
}
body .main-produtos .centro #seleciona-tipo a.mn-bolsas-e-ficharios:active .pad,
body .main-produtos .centro #seleciona-tipo a.mn-bolsas-e-ficharios:visited .pad {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #FFF;
}
body .main-produtos .centro #seleciona-tipo a.mn-bolsas-e-ficharios:hover .pad,
body .main-produtos .centro #seleciona-tipo a.mn-bolsas-e-ficharios.selecionado .pad {
  color: #EA3A00;
}
body .main-produtos .centro #seleciona-tipo a.mn-papeis-e-escritorio .pad {
  color: #FFF;
}
body .main-produtos .centro #seleciona-tipo a.mn-papeis-e-escritorio:active .pad,
body .main-produtos .centro #seleciona-tipo a.mn-papeis-e-escritorio:visited .pad {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #FFF;
}
body .main-produtos .centro #seleciona-tipo a.mn-papeis-e-escritorio:hover .pad,
body .main-produtos .centro #seleciona-tipo a.mn-papeis-e-escritorio.selecionado .pad {
  color: #FF3399;
}
body .main-produtos .centro #seleciona-tipo a.mn-linha {
  color: #a2cf6d;
}
body .main-produtos .centro #seleciona-tipo .opcoes {
  display: block;
  margin-bottom: 26px;
}
body .main-produtos .centro #seleciona-tipo .opcoes.escondidas {
  display: none;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  body .main-produtos .centro #seleciona-tipo .opcoes a[class*='mn-'] {
    width: 50% !important;
  }
}
body .main-produtos .centro #fundo-papel {
  display: block;
  width: 100%;
  height: 40px;
  background: url('../../images/consumidor/layout/folha-de-caderno.png') left top repeat-x;
}
@media only screen and (min-width: 769px) {
  body .main-produtos .centro #fundo-papel {
    margin-top: -26px;
  }
}
body .main-produtos .centro .lista-produtos {
  background: #fff;
  width: 90%;
  padding: 5px 5% 15px 5%;
}
body .main-produtos .centro .lista-produtos p.promo {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 20px;
  color: #0082BC;
}
body .main-produtos .centro .lista-produtos h1 {
  margin-top: 20px;
  color: #0082BC;
}
body .main-produtos .centro .lista-produtos a {
  padding: 2% 0;
}
body .main-produtos .centro .lista-produtos a img {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: block;
  opacity: 1;
  margin: 0 auto;
  width: 88%;
  -moz-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}
body .main-produtos .centro .lista-produtos a:hover img,
body .main-produtos .centro .lista-produtos a.ativo img {
  opacity: .6;
}
body .main-produtos .centro .lista-produtos.maior {
  width: 97%;
  padding: 5px 3% 15px 0;
}
body .main-produtos .centro .lista-produtos.maior a img {
  width: 88%;
}
@media only screen and (min-width: 401px) and (max-width: 700px) {
  body .main-produtos .centro .lista-produtos .pure-u-1-3 {
    width: 50%;
  }
}
body .main-produtos .centro h1 {
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 24px;
  font-weight: normal;
}
body .main-produtos .centro h1.cadernos {
  color: #00CCFF;
}
body .main-produtos .centro h1.agendas {
  color: #33CC99;
}
body .main-produtos .centro h1.gifts {
  color: #FFAC1F;
}
body .main-produtos .centro h1.bolsas-e-ficharios {
  color: #EA3A00;
}
body .main-produtos .centro h1.papeis-e-escritorio {
  color: #FF3399;
}
body .main-produtos .centro h2.tit-outros-tipos {
  margin: 3px 0;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 24px;
  font-weight: normal;
}
body .main-produtos .centro h2.tit-outros-tipos.cadernos {
  color: #00CCFF;
}
body .main-produtos .centro h2.tit-outros-tipos.agendas {
  color: #33CC99;
}
body .main-produtos .centro h2.tit-outros-tipos.gifts {
  color: #FFAC1F;
}
body .main-produtos .centro h2.tit-outros-tipos.bolsas-e-ficharios {
  color: #EA3A00;
}
body .main-produtos .centro h2.tit-outros-tipos.papeis-e-escritorio {
  color: #FF3399;
}
body .main-produtos .centro #detalhe-produtos {
  padding: 5px 5% 15px 5%;
  background: #fff;
}
body .main-produtos .centro #detalhe-produtos #ampliada img#detalhe {
  display: block;
  margin: 12px auto 20px auto;
  width: 74%;
  -moz-transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}
body .main-produtos .centro #detalhe-produtos #ampliada .like-container {
  padding: 20px 0 0 10px;
}
body .main-produtos .centro #detalhe-produtos #ampliada #shadow-promo-1d {
  background: #DE1C24;
  color: #fff;
  display: block;
  padding: 3px;
  text-align: center;
  width: 92%;
  margin-bottom: 15px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  behavior: url('PIE.htc');
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main-produtos .centro #detalhe-produtos #ampliada #shadow-promo-1d:active,
body .main-produtos .centro #detalhe-produtos #ampliada #shadow-promo-1d:visited {
  color: #fff;
}
body .main-produtos .centro #detalhe-produtos #ampliada #shadow-promo-1d:hover {
  background-color: #2790cc;
}
body .main-produtos .centro #detalhe-produtos #ampliada #shadow-promo-1d img {
  vertical-align: -3px;
  width: 20px !important;
  height: 15px !important;
}
body .main-produtos .centro #detalhe-produtos #texto #detalhes {
  color: #007cc3;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 13px;
  font-weight: normal;
}
body .main-produtos .centro #detalhe-produtos #texto #detalhes h3 {
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 24px;
  font-weight: normal;
}
body .main-produtos .centro #detalhe-produtos #texto #detalhes h3.cadernos {
  color: #00CCFF;
}
body .main-produtos .centro #detalhe-produtos #texto #detalhes h3.agendas {
  color: #33CC99;
}
body .main-produtos .centro #detalhe-produtos #texto #detalhes h3.gifts {
  color: #FFAC1F;
}
body .main-produtos .centro #detalhe-produtos #texto #detalhes h3.bolsas-e-ficharios {
  color: #EA3A00;
}
body .main-produtos .centro #detalhe-produtos #texto #detalhes h3.papeis-e-escritorio {
  color: #FF3399;
}
body .main-produtos .centro #detalhe-produtos #texto #detalhes ul {
  list-style: inside;
}
body .main-produtos .centro #detalhe-produtos #texto .miolos {
  margin-top: 10px;
}
body .main-produtos .centro #detalhe-produtos #texto .miolos a {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main-produtos .centro #detalhe-produtos #texto .miolos a .pad {
  padding: 6%;
}
body .main-produtos .centro #detalhe-produtos #texto .miolos a .pad img {
  width: 100%;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main-produtos .centro #detalhe-produtos #texto .miolos a:hover img,
body .main-produtos .centro #detalhe-produtos #texto .miolos a.ativo img {
  opacity: .6;
}
body .main-produtos .centro #ver-outros-tipos {
  margin-top: 40px;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 200%;
  color: #ccff66;
}
body .main-produtos .centro #ver-outros-tipos a {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main-produtos .centro #ver-outros-tipos a.cadernos {
  color: #00CCFF;
}
body .main-produtos .centro #ver-outros-tipos a.agendas {
  color: #33CC99;
}
body .main-produtos .centro #ver-outros-tipos a.gifts {
  color: #FFAC1F;
}
body .main-produtos .centro #ver-outros-tipos a.bolsas-e-ficharios {
  color: #EA3A00;
}
body .main-produtos .centro #ver-outros-tipos a.papeis-e-escritorio {
  color: #FF3399;
}
body .main-produtos .centro #ver-outros-tipos a:hover {
  color: #a2cf6d;
}
body .main-produtos .centro #mostrar-linhas {
  color: #fff;
  font-family: 'kg_ten_thousand_reasonsRg', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main-produtos .centro #mostrar-linhas:active,
body .main-produtos .centro #mostrar-linhas:visited {
  color: #fff;
}
body .main-produtos .centro #mostrar-linhas:hover {
  color: #a2cf6d;
}
@media only screen and (min-width: 980px) {
  body .main-produtos .centro #mostrar-linhas {
    display: none;
  }
}
#caderno-completo {
  padding: 30px 0;
  position: relative;
}
#caderno-completo img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
#caderno-completo img#imagem-1 {
  max-width: 960px;
}
#caderno-completo img#imagem-2 {
  max-width: 960px;
}
#caderno-completo img#imagem-3 {
  max-width: 960px;
}
#caderno-completo #tracejado-verde {
  border-top: 1px #a2cf6d dashed;
  border-bottom: 1px #a2cf6d dashed;
  position: absolute;
  height: 360px;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
  left: 0;
  bottom: 257px;
}
