@import 'vars.less';

body{
	background:url('../../images/consumidor/layout/bg-lousa.jpg');
	nav{
		@media only screen and (min-width: 980px){
			background-image:url('../../images/consumidor/layout/splash-internas.png') !important;
		}
	}
	.main-jandaia{
		.centro{
			width:100%;
			margin:0 auto;
			max-width:1200px;
			#produtos-jandaia{
				img{
					width:80%;
					display:block;
					margin:20px auto;
				}
			}
			h1{
				color:#fff;
				line-height:100%;
				margin:15px 0 30px 0;
				text-align:center;
				.kgten(24px);
			}
			.timeline{
				.pure-u-1-4{
					@media only screen and (min-width: 0px) and (max-width: 699px) {
						width:50% !important;
					}
					.pad{
						@media only screen and (min-width: 769px){
							padding:15%;
						}
						@media only screen and (min-width: 0px) and (max-width: 768px) {
							padding:3%;
						}
						img{
							@media only screen and (min-width: 769px){
								width:100%;
							}
							@media only screen and (min-width: 0px) and (max-width: 768px) {
								width:70%;							
							}
							display:block;
							margin:0 auto 5px auto;
						}
						color:#fff;
						.kgten(20px);
						text-align: center;
						line-height: 160%;
					}
				}
			}
		}
	}
	.main-produtos{
		.centro{
			width:100%;
			max-width:1200px;
			margin:0 auto;
			padding:20px 0;
			section.recuo-top{
				@media only screen and (min-width: 769px){
					margin-top:-35px;				
				}
			}
			.titulo{
				color:@verde_bright;
				.kgten(15px);
				@media only screen and (min-width: 0px) and (max-width: 979px) {
					.pad{
						padding-left:5%;
					}
					&.padl{padding-left:2.5%;}
				}
			}
			ul.lista-tipos{
				padding:15px 0;
				list-style:none;
				@media only screen and (min-width: 0px) and (max-width: 979px) {
					padding-left:5%;
				}
				li{
					margin:2px 0;
					a{
						width:100%;
						display:block;
						.transition;
						&:hover{
							.titulo .pad{
								color:@verde;
							}
						}
						font-size:0;
						.imagem{
							width:40%;
							max-width:88px;
							.inline;
							img{
								width:100%;
							}
						}
						.titulo{
							.inline;
							width:60%;
							padding-top:35px;
							line-height: 130%;
							.pad{
								.transition;
								padding-left:5%;
								.hff(15px);
							}
						}
						&.mn-cadernos{
							.titulo { color:#00CCFF; }
							&:active, &:visited{
								.titulo { color:#00CCFF; }
							}
						}
						&.mn-agendas{
							.titulo { color:#33CC99; }
							&:active, &:visited{
								.titulo { color:#33CC99; }
							}
						}
						&.mn-gifts{
							.titulo { color:#FFAC1F; }
							&:active, &:visited{
								.titulo { color:#FFAC1F;}
							}
						}
						&.mn-bolsas-e-ficharios{
							.titulo { color:#EA3A00; }
							&:active, &:visited{
								.titulo { color:#EA3A00;}
							}
						}
						&.mn-papeis-e-escritorios{
							.titulo { color:#FF3399; }
							&:active, &:visited{
								.titulo { color:#FF3399;}
							}
						}
					}
				}
			}
			ul.lista-linhas{
				list-style:none;
				@media only screen and (min-width: 0px) and (max-width: 979px) {
					padding-left:5%;
				}
				li{
					@media only screen and (min-width: 980px){
						margin:4px 0;					
					}
					a{
						line-height:160%;
						color:#fff;
						.calibri(14px);
						.transition;
						&:active, &:visited{color:#fff;}
						&:hover{color:@verde_bright;}						
						&.visualizar-por-linha{
							margin-top:10px;
							.kgten(14px);
						}
					}
				}
				@media only screen and (min-width: 0px) and (max-width: 979px) {
					display:none;
					&.amostra{
						display:block;
					}
				}
			}
			#seleciona-tipo{
				padding-bottom:10px;
				@media only screen and (min-width: 769px) and (max-width: 979px) {
					padding-top:15px;
				}				
				a{
					img{
						display:block;
						margin: auto;
					}
					&.selecionado{
						width:100%;
						max-width:250px;
						min-height:97px;
						@media only screen and (min-width: 0px) and (max-width: 768px) {
							&.mn-linha{min-height:40px;}						
						}
						.inline;
						.titulo .pad{
							padding-top:17%;
							line-height:160%;
							.kgten(15px) !important;
						}
						.titulo.pure-u-1 .pad{ padding-top:8%; }
					}
					&.alterar-tipo{
						color:#fff;
						&:active, &:visited{color:#fff;}
						.transition;
						&:hover{color:@verde;}
						.kgten(13px);
						.inline;
						@media only screen and (min-width: 701px){
							padding-top:3.5%;						
						}
						@media only screen and (min-width: 0px) and (max-width: 700px) {
							padding-top:5%;
						}
					}
					&.ver-linha-completa{
						color:#fff;
						&:active, &:visited{color:#fff;}
						.transition;
						&:hover{color:@verde;}
						.kgten(13px);
						.inline;
						@media only screen and (min-width: 701px){
							padding-top:3.5%;						
						}
						@media only screen and (min-width: 0px) and (max-width: 700px) {
							padding-top:5%;
						}	
					}
					&:hover{
						.titulo .pad{
							color:@verde;
						}
					}
					.titulo{
						padding-top:8px;
						line-height: 130%;
					}
					.pad{
						.transition;
						padding-top:8%;
						padding-left:5%;
						.hff(15px);
					}
					&.mn-cadernos{
						.pad{ color:#FFF; }
						&:active, &:visited{
							.pad{ .transition; color:#FFF; }
						}
						&:hover .pad,
						&.selecionado .pad{color:#00CCFF;}
					}
					&.mn-agendas{
						.pad{ color:#FFF; }
						&:active, &:visited{
							.pad{ .transition; color:#FFF; }
						}
						&:hover .pad,
						&.selecionado .pad{color:#33CC99;}
					}
					&.mn-gifts{
						.pad{ color:#FFF; }
						&:active, &:visited{
							.pad{ .transition; color:#FFF; }
						}
						&:hover .pad,
						&.selecionado .pad{color:#FFAC1F;}
					}
					&.mn-bolsas-e-ficharios{
						.pad{ color:#FFF; }
						&:active, &:visited{
							.pad{ .transition; color:#FFF; }
						}
						&:hover .pad,
						&.selecionado .pad{color:#EA3A00;}
					}
					&.mn-papeis-e-escritorio{
						.pad{ color:#FFF; }
						&:active, &:visited{
							.pad{ .transition; color:#FFF; }
						}
						&:hover .pad,
						&.selecionado .pad{color:#FF3399;}
					}
					&.mn-linha{
						color:@verde;
					}
				}
				.opcoes{
					display:block;
					margin-bottom:26px;
					&.escondidas{
						display:none;
					}
					@media only screen and (min-width: 0px) and (max-width: 480px) {
						a[class*='mn-']{ width:50% !important; }
					}
				}
			}
			#fundo-papel{
				@media only screen and (min-width: 769px){
					margin-top:-26px;				
				}
				display:block;
				width:100%;
				height:40px;
				background:url('../../images/consumidor/layout/folha-de-caderno.png') left top repeat-x;				
			}
			.lista-produtos{
				background:#fff;
				width:90%;
				padding:5px 5% 15px 5%;
				p.promo{
					.calibri(14px);
					font-style: italic;
					margin-bottom:20px;
					color:#0082BC;
				}
				h1{
					margin-top:20px;
					color:#0082BC;
				}
				a{
					padding:2% 0;
					img{
						.transition;
						display:block;
						opacity:1;
						margin:0 auto;
						width:88%;
						-moz-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
						-webkit-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
				        -o-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
				        -ms-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
				        transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
					}
					&:hover, &.ativo{
						img{
							opacity:.6;
						}
					}
				}
				&.maior{
					width:97%;
					padding:5px 3% 15px 0;
					a{
						img{
							width:88%;
						}
					}
				}
				@media only screen and (min-width: 401px) and (max-width: 700px) {
					.pure-u-1-3{
						width:50%;
					}
				}
			}
			h1{
				.kgten(24px);
				&.cadernos{ color:#00CCFF; }
				&.agendas{ color:#33CC99; }
				&.gifts{ color:#FFAC1F; }
				&.bolsas-e-ficharios{ color:#EA3A00; }
				&.papeis-e-escritorio{ color:#FF3399; }
			}
			h2.tit-outros-tipos{
				margin:3px 0;
				.kgten(24px);
				&.cadernos{ color:#00CCFF; }
				&.agendas{ color:#33CC99; }
				&.gifts{ color:#FFAC1F; }
				&.bolsas-e-ficharios{ color:#EA3A00; }
				&.papeis-e-escritorio{ color:#FF3399; }
			}
			#detalhe-produtos{
				padding:5px 5% 15px 5%;
				background:#fff;
				#ampliada{
					img#detalhe{
						display:block;
						margin:12px auto 20px auto;
						width:74%;
						-moz-transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
						-webkit-transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
				        -o-transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
				        -ms-transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
				        transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);	
					}
					.like-container{
						padding:20px 0 0 10px;
					}
					#shadow-promo-1d{
						background:#DE1C24;
						color:#fff;
						display:block;
						padding:3px;
						text-align: center;
						width:92%;
						margin-bottom:15px;
						.calibri(12px);
						.arredondada(5px);
						.transition;
						&:active, &:visited{color:#fff;}
						&:hover{
							background-color:@azul_form;							
						}
						img{
							vertical-align:-3px;
							width:20px !important;
							height:15px !important;
						}
					}
				}
				#texto{
					#detalhes{
						h3{
							.kgten(24px);
							&.cadernos{ color:#00CCFF; }
							&.agendas{ color:#33CC99; }
							&.gifts{ color:#FFAC1F; }
							&.bolsas-e-ficharios{ color:#EA3A00; }
							&.papeis-e-escritorio{ color:#FF3399; }
						}
						color:@azul;
						.calibri(13px);
						ul{
							list-style:inside;
						}
					}
					.miolos{
						margin-top:10px;
						a{
							.pad{
								padding:6%;
								img{
									width:100%;
									opacity:1;
									.transition;
								}
							}
							.transition;							
							&:hover, &.ativo{
								img{
									opacity:.6;
								}
							}
						}
					}
				}
			}
			#ver-outros-tipos{
				margin-top:40px;
				.kgten(20px);
				line-height:200%;
				color:@verde_bright;
				a{
					&.cadernos{ color:#00CCFF; }
					&.agendas{ color:#33CC99; }
					&.gifts{ color:#FFAC1F; }
					&.bolsas-e-ficharios{ color:#EA3A00; }
					&.papeis-e-escritorio{ color:#FF3399; }
					.transition;
					&:hover{color:@verde;}
				}
			}
			#mostrar-linhas{
				color:#fff;
				.kgten(12px);
				.transition;
				&:active, &:visited{color:#fff;}
				&:hover{color:@verde;}
				@media only screen and (min-width: 980px){
					display:none;
				}
			}
		}
	}
	.main-blog{

	}
}

#caderno-completo{
	padding:30px 0;
	position:relative;
	img{
		display:block;
		margin:0 auto;
		width:100%;
		&#imagem-1{ max-width: 960px; }
		&#imagem-2{ max-width: 960px; }
		&#imagem-3{ max-width: 960px; }
	}
	#tracejado-verde{
		border-top:1px @verde dashed;
		border-bottom:1px @verde dashed;
		position:absolute;
		height:360px;
		width:100%;
		margin:0;
		padding:0;
		z-index:-1;
		left:0;
		bottom:257px;
	}
}