@import 'vars.less';

.main{
	width:570px;
	display:block;
	margin:0 auto;
	padding:0;
	p{
		padding-top:15px;
		width:490px;
		display:block;
		margin:0 auto;
		text-align:center;
		color:#3C599B;
		line-height: 130%;
		.hff(20px);
		span{
			display:block;
			margin:4px 0;
			font-size:20px;
		}
		&.resposta{
			margin:40px auto;
		}
	}
	input[type="button"]{
		margin:15px auto;
		cursor:pointer;
		display:block;
		border:0;
		height:24px;
		line-height:24px;
		width:160px;
		text-align:center;
		background-color:#3C599B;
		color:#fff;
		.calibri(13px, bold);
		.arredondada(5px);
		.transition;
		&:active, &:visited{color:#fff;}
		&:hover{
			color:#A1B0CF;
		}
	}
	form{
		width:480px;
		margin:15px auto;
		input[type="text"],
		input[type="email"]{
			display:block;
			width:480px;
			padding:3px 5px;
			border:0;
			color:#3C599B;
			background-color:#A1B0CF;
			height:20px;
			line-height:20px;
			margin-bottom:4px;
			.placeholder(#3C599B);
			.calibri(12px);
			.arredondada(5px);
		}
		textarea{
			display:block;
			width:480px;
			padding:3px 5px;
			border:0;
			color:#3C599B;
			background-color:#A1B0CF;
			margin-bottom:4px;
			height:60px;
			resize:none;
			.placeholder(#3C599B);
			.calibri(12px);
			.arredondada(5px);
		}
		label{
			.calibri(12px);
			input[type="checkbox"]{
				vertical-align:-2px;
			}
		}
		input[type="submit"]{
			margin:15px auto;
			cursor:pointer;
			display:block;
			border:0;
			height:24px;
			line-height:24px;
			width:160px;
			text-align:center;
			background-color:#3C599B;
			color:#fff;
			.calibri(13px, bold);
			.arredondada(5px);
			.transition;
			&:active, &:visited{color:#fff;}
			&:hover{
				color:#A1B0CF;
			}
		}
	}
}