.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.w980 {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}
.main {
  width: 570px;
  display: block;
  margin: 0 auto;
  padding: 0;
}
.main p {
  padding-top: 15px;
  width: 490px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #3C599B;
  line-height: 130%;
  font-family: 'hff_low_sunregular', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
}
.main p span {
  display: block;
  margin: 4px 0;
  font-size: 20px;
}
.main p.resposta {
  margin: 40px auto;
}
.main input[type="button"] {
  margin: 15px auto;
  cursor: pointer;
  display: block;
  border: 0;
  height: 24px;
  line-height: 24px;
  width: 160px;
  text-align: center;
  background-color: #3C599B;
  color: #fff;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 13px;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  behavior: url('PIE.htc');
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main input[type="button"]:active,
.main input[type="button"]:visited {
  color: #fff;
}
.main input[type="button"]:hover {
  color: #A1B0CF;
}
.main form {
  width: 480px;
  margin: 15px auto;
}
.main form input[type="text"],
.main form input[type="email"] {
  display: block;
  width: 480px;
  padding: 3px 5px;
  border: 0;
  color: #3C599B;
  background-color: #A1B0CF;
  height: 20px;
  line-height: 20px;
  margin-bottom: 4px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  behavior: url('PIE.htc');
}
.main form input[type="text"]::-webkit-input-placeholder,
.main form input[type="email"]::-webkit-input-placeholder {
  color: #3c599b;
}
.main form input[type="text"]:-moz-placeholder,
.main form input[type="email"]:-moz-placeholder {
  color: #3c599b;
}
.main form input[type="text"]::-moz-placeholder,
.main form input[type="email"]::-moz-placeholder {
  color: #3c599b;
}
.main form input[type="text"]:-ms-input-placeholder,
.main form input[type="email"]:-ms-input-placeholder {
  color: #3c599b;
}
.main form textarea {
  display: block;
  width: 480px;
  padding: 3px 5px;
  border: 0;
  color: #3C599B;
  background-color: #A1B0CF;
  margin-bottom: 4px;
  height: 60px;
  resize: none;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  behavior: url('PIE.htc');
}
.main form textarea::-webkit-input-placeholder {
  color: #3c599b;
}
.main form textarea:-moz-placeholder {
  color: #3c599b;
}
.main form textarea::-moz-placeholder {
  color: #3c599b;
}
.main form textarea:-ms-input-placeholder {
  color: #3c599b;
}
.main form label {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
.main form label input[type="checkbox"] {
  vertical-align: -2px;
}
.main form input[type="submit"] {
  margin: 15px auto;
  cursor: pointer;
  display: block;
  border: 0;
  height: 24px;
  line-height: 24px;
  width: 160px;
  text-align: center;
  background-color: #3C599B;
  color: #fff;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 13px;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  behavior: url('PIE.htc');
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main form input[type="submit"]:active,
.main form input[type="submit"]:visited {
  color: #fff;
}
.main form input[type="submit"]:hover {
  color: #A1B0CF;
}
